@charset "UTF-8";
/* ====================================================
reset style
==================================================== */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700&display=swap&subset=japanese");
html {
  overflow-y: scroll;
  font-size: 10px;
  /* Base font size, change to 14px or 16px if needed */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: middle;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input, textarea, select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

del, ins {
  text-decoration: none;
}

/* ====================================================
Font
==================================================== */
/* ====================================================
COLOR
==================================================== */
/* ====================================================
MIXIN
==================================================== */
/* ====================================================
Position & transform
==================================================== */
/* ====================================================
Media Quary
==================================================== */
/* ====================================================
Color
==================================================== */
/* ====================================================
Sizing
==================================================== */
/* ====================================================
Misc
==================================================== */
/* ====================================================
Color
==================================================== */
/* ====================================================
Base style & container
==================================================== */
body {
  color: #222;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

body.fix {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.inner {
  display: block;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

/* ====================================================
Float & clear
==================================================== */
.clearfix {
  *zoom: 1;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

/* ====================================================
Header
==================================================== */
#main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 36px 0;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  #main-header {
    padding: 17px 0;
  }
}

#main-header .inner {
  max-width: 100%;
  padding: 0 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 990px) {
  #main-header .inner {
    padding: 0 20px;
  }
}

#main-header .logo {
  margin-right: 78px;
}

@media screen and (max-width: 767px) {
  #main-header .logo {
    position: relative;
    z-index: 10;
  }
}

@media screen and (max-width: 990px) {
  #main-header .logo {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  #main-header .logo img {
    max-width: 70px;
  }
}

@media screen and (max-width: 767px) {
  #main-header .navGlobal {
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 113px;
    padding-bottom: 100px;
    background: #3d3d3d;
    pointer-events: none;
  }
  #main-header .navGlobal.open {
    left: 0;
    opacity: 1;
    pointer-events: auto;
  }
}

#main-header .navGlobalIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -18px;
  margin-right: -18px;
}

@media screen and (max-width: 767px) {
  #main-header .navGlobalIn li {
    width: 100%;
  }
}

#main-header .navGlobalIn li a {
  font-weight: 900;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 2;
  display: inline-block;
  padding: 0 18px;
  color: #222222;
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 767px) {
  #main-header .navGlobalIn li a {
    width: 100%;
    padding: 0 83px;
    margin-bottom: 4px;
    font-size: 30px;
    font-size: 3rem;
    color: #fff;
  }
}

.btn-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: #3d3d3d;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 17px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu {
  width: 18px;
  height: 12px;
  position: relative;
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  top: 0;
  right: 0;
}

.menu span {
  width: 18px;
  display: block;
  height: 1px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #989898;
}

.menu span:nth-child(3) {
  margin-bottom: 0;
}

.menu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 6px;
}

.menu.open span:nth-child(2) {
  display: none;
}

.menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 6px;
}

/* ====================================================
Footer
==================================================== */
#main-footer {
  padding: 40px 0;
  background: #3d3d3d;
}

@media screen and (max-width: 767px) {
  #main-footer {
    padding: 37px 0 8px;
  }
}

#main-footer .inner {
  max-width: 100%;
  padding: 0 57px 0 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.4;
  width: 50%;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 767px) {
  #main-footer .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 42px;
  }
  #main-footer .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #main-footer .logo img {
    max-width: 116px;
    margin-bottom: 18px;
  }
}

#main-footer .logo span {
  color: #fff;
  display: inline-block;
  margin-left: 28px;
  letter-spacing: 2.7px;
}

@media screen and (max-width: 767px) {
  #main-footer .logo span {
    width: 100%;
    text-align: center;
    margin-left: 0;
    font-size: 13px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 767px) {
  #main-footer .logo {
    width: 100%;
  }
}

#main-footer .copyright {
  width: 50%;
  font-family: "Lato", sans-serif;
  text-align: right;
  font-size: 10px;
  font-size: 1rem;
  color: #999999;
}

@media screen and (max-width: 767px) {
  #main-footer .copyright {
    width: 100%;
    text-align: center;
  }
}

img {
  max-width: 100%;
}

/*
#overview
モジュールスタイルガイド

これはサイト全体に適用されるモジュールのパーツ群です。
必ずこちらのパーツを使用してコーディングするようにお願いします。
*/
/*
#colors
@背景色 #996600
@文字色 #333
@リンク #ccc
*/
/*
#styleguide
パンくずモジュール

パンくずのモジュールです。

@depulicated
@非推奨
@todo
@common

```
<div class="breadcrumb">
<a href='/'>トップページ</a> <i class='fa fa-angle-right' aria-hidden='true'></i> <span>ページ1</span>
</div>

```

*/
/*
#styleguide
見出しモジュール　識別子はttl

見出しモジュールは、セクションごとの見出しとなる要素（HTML5の分類で、「ヘッディングコンテンツ(Heading Content)」となるh1やh2などの要素、見出しとみなすことが出来そうなp要素の事です。
クラス名として識別子、「 ttl 」をつけて管理します。

```
<h1 class="ttlCom01"><span class="ttlCom01In">見出しモジュール</span></h1>
<h2 class="ttlCom02">見出しモジュール</h2>
<h3 class="ttlCom03">見出しモジュール</h3>

```

*/
/*
#styleguide
テキストモジュール　識別子はtxt

テキストモジュールは、p要素やテキストに該当するspan要素などのコンテンツ内の本文のことです。
基本的に、サイト内のテキストはテキストモジュールに該当します。クラス名として識別子「txt」をつけます。

```
<p class="txtBasic">テキストモジュール、識別子は～</p>

```

*/
/*
#styleguide
リンクモジュール　識別子はlink

リンクモジュールは、基本的にa要素のようにリンクが関係するモジュールの事です。クラス名として識別子「link」をつけます。
通常は、テキスト内にリンクが存在する場合にモジュールとして分ける事が多いです。

```
<a href="" class="linkCmn">OOCSS</a>

```

*/
/*
#styleguide
ボタンモジュール　識別子はbtn

ボタンモジュールは、見た目や役割がボタン上の要素の事です。クラス名をつける要素は特に指定はありませんが、button要素やa要素、a要素を囲むdiv要素に付与するパターンが多いです。
クラス名として識別子「btn」をつけます。

```
<div class="btn btnRed">ボタン</div>
<br>
<div class="btn btnBlue">ボタン</div>

```

*/
/*
#styleguide
リストモジュール　識別子はlist

リストモジュールは、リスト状の同じものが連続して並ぶものが該当します。基本的には、ul、ol、dl要素の様な明確にリスト分けされるものが該当しますが、div要素でも構いません。クラス名として識別子「list」をつけます。
また、クラス名を付与する場所はリストの親要素、つまり連続するリストの子要素がliだとすると、ul要素やol要素に識別子「list」を付与したクラス名をつけます。

```
<ul class="listOption">
	<li class="item">HTML</li>
	<li class="item">CSS</li>
	<li class="item">JavaScript</li>
</ul>

```

*/
/*
#styleguide
ボックスモジュール　識別子はbox

ボックスモジュールは、ボックス状のものが該当します。基本的には見出しやテキストなどの要素を含み込むボーダー付きの箱をボックスモジュールとしてみなします。クラス名として識別子「box」をつけます。

```
<div class="boxReading">
	<h2 class="ttlCom01">ボックスモジュールとは</h2>
		<p class="txtCom01">モジュールコーディングという考え方～</p>
		<a href="" class="linkCom01">続きを読む</a>
</div>

```

*/
/*
#styleguide
グリッドモジュール　識別子はgrid（子要素にはcol)

2カラムや3カラムなど、カラム分けするレイアウトのモジュールが該当します。識別子「grid」を付与します。
子要素には「col」を付与します。基本的に、親に「gridXXX」というメインクラスを付与して、「column-2」や「column-3」などカラム数と対応する数字込みのサブクラスを付与します。

```

<div class="gridCom column-3">
	<div class="col">
		<img class="imageCodingDetail" src="img/XXX.jpg">
	<h2 class="ttlCodingDetail">コーディングの秘訣その1</h2>
	<p class="txtCodingDetail">モジュールコーディングという考え方は～</p>
	</div>
	<div class="col">
		<img class="imageCodingDetail" src="img/XXX.jpg">
	<h2 class="ttlCodingDetail">コーディングの秘訣その1</h2>
	<p class="txtCodingDetail">モジュールコーディングという考え方は～</p>
	</div>
	<div class="col">
		<img class="imageCodingDetail" src="img/XXX.jpg">
	<h2 class="ttlCodingDetail">コーディングの秘訣その1</h2>
	<p class="txtCodingDetail">モジュールコーディングという考え方は～</p>
	</div>
</div>


```

*/
/*
#styleguide
FORMモジュール　

フォーム用の部品になります。

```

<form actione="">
<dl>
	<dt>テキスト</dt>
	<dd><input type="text" name="" value=""></dd>
	<dt>パスワード</dt>
	<dd><input type="password" name="passwd" value=""></dd>
	<dt>ラジオボタン</dt>
	<dd><input type="radio" name="" value="" checked="checked" />テスト1
	<input type="radio" name="" value="" />テスト2
	<input type="radio" name="" value="" />テスト3</dd>
	<dt>チェックボックス</dt>
	<dd><input type="checkbox" name="" value="" checked="checked" />テスト1
	<input type="checkbox" name="" value="" />テスト2
	<input type="checkbox" name="" value="" checked="checked" />テスト3</dd>
	<dt>プルダウン</dt>
	<dd><select name="">
	<option value="" selected="selected">テスト1</option>
	<option value="">テスト2</option>
	<option value="">テスト3</option>
	</select></dd>
	<dt>テキストエリア</dt>
	<dd><textarea name="" rows="5" cols="20">テキストエリア</textarea></dd>
</dl>
<div>
	<input type="button" name="btn1" value="汎用ボタン">
	<input type="reset" name="btn2" value="リセット" >
	<input type="submit" name="btn3" value="送信" >
</div>
</form>


```

*/
/* ====================================================
MODULE
==================================================== */
/*パンくずMODULE*/
/*見出しMODULE*/
.ttl_type01 {
  font-weight: 900;
  color: #222;
  font-size: 100px;
  font-size: 10rem;
  line-height: 1.1;
  text-align: left;
  letter-spacing: 10px;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 1200px) {
  .ttl_type01 {
    font-size: 70px;
    font-size: 7rem;
  }
}

@media screen and (max-width: 767px) {
  .ttl_type01 {
    font-size: 41px;
    font-size: 4.1rem;
    letter-spacing: 6px;
  }
}

@media screen and (max-width: 340px) {
  .ttl_type01 {
    font-size: 30px;
    font-size: 3rem;
  }
}

.ttl_type02 {
  font-weight: 900;
  font-size: 80px;
  font-size: 8rem;
  letter-spacing: 3px;
  line-height: 1.2;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 1200px) {
  .ttl_type02 {
    font-size: 50px;
    font-size: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .ttl_type02 {
    font-size: 35px;
    font-size: 3.5rem;
    letter-spacing: 0;
  }
}

/*テキストMODULE*/
.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.txtBase {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .txtBase {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.93;
  }
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  opacity: .7;
}

/*リンクMODULE*/
/*ボタンMODULE*/
.btn {
  width: 100px;
  height: 50px;
  border: 2px solid #FFCCCC;
  text-align: center;
  line-height: 50px;
}

.btn_type01 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 115px;
  height: 115px;
  background: #ed0084;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1;
  color: #fff;
}

.btn_type01.hide {
  display: none;
}

@media screen and (max-width: 767px) {
  .btn_type01 {
    width: 50px;
    height: 50px;
    font-size: 10px;
    font-size: 1rem;
    right: 50px;
  }
}

.btn_type02 {
  border: solid 2px #222222;
  color: #222;
  padding: 22px 10px;
  position: relative;
  font-weight: 900;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  text-align: center;
  min-width: 260px;
  display: inline-block;
  font-family: "Lato", sans-serif;
}

.btn_type02:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #222222;
}

@media screen and (max-width: 767px) {
  .btn_type02 {
    font-size: 13px;
    font-size: 1.3rem;
    width: 100%;
  }
}

.btn_type03 {
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 900;
  padding: 45px 10px;
  letter-spacing: 2px;
  position: relative;
  text-align: center;
  display: inline-block;
  background: #222222;
  font-family: "Lato", sans-serif;
}

.btn_type03:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .btn_type03 {
    padding: 21px 10px;
  }
  .btn_type03:after {
    right: 20px;
  }
}

.btn_type03.style02 {
  max-width: 700px;
  padding-top: 38px;
  padding-bottom: 38px;
  font-size: 18px;
  font-size: 1.8rem;
}

.btn_type03.style02:after {
  width: 1px;
  height: 50px;
  top: -60px;
  bottom: auto;
  left: 50%;
  right: auto;
  background: #222222;
}

@media screen and (max-width: 767px) {
  .btn_type03.style02 {
    font-size: 13px;
    font-size: 1.3rem;
    max-width: 280px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .btn_type03.style02:after {
    height: 25px;
    top: -31px;
  }
}

@media screen and (max-width: 767px) {
  .btn_type03 {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.btnRed {
  color: red;
  background-color: #FFCCCC;
}

.btnBlue {
  color: white;
  border-color: blue;
  background-color: blue;
}

/*リストMODULE*/
/*ボックスMODULE*/
/*グリッドMODULE*/
/*フォームMODULE*/
@-webkit-keyframes flow {
  from {
    top: 28px;
  }
  to {
    top: 100%;
  }
}

@keyframes flow {
  from {
    top: 28px;
  }
  to {
    top: 100%;
  }
}

@-webkit-keyframes flow2 {
  from {
    top: 20px;
  }
  to {
    top: 100%;
  }
}

@keyframes flow {
  from {
    top: 20px;
  }
  to {
    top: 100%;
  }
}

.main-visual {
  text-align: right;
  padding-bottom: 150px;
  background: #ffe86d;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .main-visual {
    padding-bottom: 76px;
  }
}

.main-visual img {
  max-width: 100%;
  margin-top: -1px;
}

.main-visual .inner {
  position: relative;
  max-width: 1574px;
  text-align: right;
  padding-left: 20%;
}

@media screen and (max-width: 767px) {
  .main-visual .inner {
    padding-left: 17%;
    padding-right: 0;
  }
}

.main-visual .ttl_type01 {
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 1.8%;
  top: 54%;
}

@media screen and (max-width: 767px) {
  .main-visual .ttl_type01 {
    left: 20px;
    top: auto;
    bottom: 7%;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

.btn-scrool {
  bottom: 0;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .btn-scrool {
    bottom: -37px;
  }
}

.scroll {
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1;
  display: inline-block;
  padding-bottom: 76px;
  color: #222;
}

@media screen and (max-width: 767px) {
  .scroll {
    font-size: 10px;
    font-size: 1rem;
  }
}

.scroll b {
  position: absolute;
  height: 60px;
  width: 1px;
  left: 50%;
  top: 28px;
  background: #222222;
  -webkit-animation: flow 2s infinite;
  /* Safari 4.0 - 8.0 */
  animation: flow 2s infinite;
}

@media screen and (max-width: 767px) {
  .scroll b {
    height: 30px;
    top: 20px;
    -webkit-animation: flow2 2s infinite;
    /* Safari 4.0 - 8.0 */
    animation: flow2 2s infinite;
  }
}

.sec-about {
  padding: 200px 0 190px;
  background: #f5f5f5;
}

@media screen and (max-width: 767px) {
  .sec-about {
    padding: 37px 0 56px;
  }
}

.sec-about .about {
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .sec-about .about {
    padding: 0 20px;
  }
}

.sec-about .about_img {
  width: calc(900/1600*100%);
}

.sec-about .about_img img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .sec-about .about_img {
    width: 100%;
  }
}

.sec-about .about_content {
  width: calc(700/1600*100%);
  padding-left: 62px;
  padding-top: 4px;
  padding-right: 20px;
}

@media screen and (max-width: 990px) {
  .sec-about .about_content {
    padding-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .sec-about .about_content {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.sec-about .about_content .ttl_type02 {
  margin-bottom: 35px;
}

@media screen and (max-width: 990px) {
  .sec-about .about_content .ttl_type02 {
    font-size: 38px;
    font-size: 3.8rem;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sec-about .about_content .ttl_type02 {
    margin-bottom: 13px;
    font-size: 35px;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .sec-about .about_content img {
    margin-bottom: 22px;
  }
}

.sec-about .about_content .txt-des {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 1.8;
  margin-bottom: 35px;
}

@media screen and (max-width: 990px) {
  .sec-about .about_content .txt-des {
    font-size: 18px;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sec-about .about_content .txt-des {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.sec-about .about_content .txtBase {
  margin-bottom: 60px;
}

@media screen and (max-width: 990px) {
  .sec-about .about_content .txtBase {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .sec-about .about_content .txtBase {
    letter-spacing: -1px;
    margin-bottom: 24px;
  }
}

.sec-interview {
  padding: 188px 0 247px;
  background: #ff9dbd;
}

.sec-interview .ttl_type02 {
  margin-bottom: 136px;
}

@media screen and (max-width: 767px) {
  .sec-interview .ttl_type02 {
    margin-bottom: 47px;
    letter-spacing: 2px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sec-interview .inner {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .sec-interview {
    padding: 44px 0 61px;
  }
  .sec-interview .btn_type03 {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }
}

.item-interview {
  text-align: right;
  position: relative;
  margin-bottom: 113px;
}

@media screen and (max-width: 767px) {
  .item-interview {
    margin-bottom: 93px;
    padding-left: 40px;
  }
  .item-interview:nth-child(2n+2) {
    padding-right: 40px;
    padding-left: 0;
  }
}

.item-interview a {
  position: relative;
  display: block;
  color: #222;
}

.item-interview:last-child {
  margin-bottom: 0;
}

.item-interview .info {
  position: absolute;
  background: #ffffff;
  min-width: 300px;
  bottom: -32px;
  z-index: 2;
  right: 0;
  padding: 15px 20px 13px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .item-interview .info {
    min-width: 195px;
    padding: 9px 12px 5px;
  }
}

.item-interview .info .label {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  font-size: 1.2rem;
  padding: 3px 6px;
  background: #222222;
  margin-bottom: 2px;
  height: 17px;
  color: #fff;
  line-height: 11px;
}

@media screen and (max-width: 767px) {
  .item-interview .info .label {
    font-size: 10px;
    font-size: 1rem;
    height: 13px;
    line-height: 6px;
  }
}

.item-interview .info p {
  font-weight: 500;
  font-size: 18px;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.item-interview .info p span {
  font-weight: bold;
  font-size: 12px;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 10px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 767px) {
  .item-interview .info p {
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: 0;
  }
  .item-interview .info p span {
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 0;
  }
}

.item-interview:nth-child(2n+2) {
  text-align: left;
}

.item-interview:nth-child(2n+2) .info {
  right: auto;
  left: 0;
  bottom: -56px;
}

@media screen and (max-width: 767px) {
  .item-interview:nth-child(2n+2) {
    margin-bottom: 75px;
  }
  .item-interview:nth-child(2n+2) .info {
    bottom: -30px;
    padding: 9px 19px 6px;
    min-width: 172px;
  }
  .item-interview:nth-child(2n+2) .info .label {
    letter-spacing: -1px;
    margin-bottom: 3px;
  }
  .item-interview:nth-child(2n+2) .info p span {
    margin-left: 8px;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 767px) {
  .item-interview:nth-child(3) .info {
    bottom: -29px;
    min-width: 220px;
    padding: 9px 14px 5px;
  }
  .item-interview:nth-child(3) .info .label {
    letter-spacing: -1px;
    padding-right: 5px;
  }
  .item-interview:nth-child(3) .info p span {
    margin-left: 14px;
    letter-spacing: 0px;
  }
}

.list-interview {
  padding-bottom: 123px;
}

@media screen and (max-width: 767px) {
  .list-interview {
    padding-bottom: 79px;
  }
}

.sec-job {
  padding: 130px 0;
  background: #bbdff7;
}

@media screen and (max-width: 767px) {
  .sec-job {
    padding: 37px 0 53px;
  }
}

.job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .job {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.job_content {
  width: calc(590/1100*100%);
  padding-top: 109px;
}

@media screen and (max-width: 990px) {
  .job_content {
    padding-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .job_content {
    width: 100%;
    padding-top: 0;
  }
}

.job_content .ttl_type02 {
  margin-bottom: 34px;
  margin-left: -14px;
}

@media screen and (max-width: 1200px) {
  .job_content .ttl_type02 {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .job_content .ttl_type02 {
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
}

.job_content .txtBase {
  margin-bottom: 56px;
}

@media screen and (max-width: 767px) {
  .job_content .txtBase {
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 767px) {
  .job_content img {
    max-width: 225px;
    display: block;
    margin: 0 auto 30px;
  }
}

.job_img {
  width: calc(510/1100*100%);
  padding-right: 78px;
}

@media screen and (max-width: 767px) {
  .job_img {
    width: 100%;
  }
}

.job_img img {
  width: 100%;
}

.sec-entry {
  padding: 196px 0 220px;
  background: #ffe86d;
}

@media screen and (max-width: 767px) {
  .sec-entry {
    padding: 115px 0 135px;
  }
}

.sec-entry .entry {
  background: #ffffff;
  padding: 0 20px;
}

.sec-entry .entry .ttl_type02 {
  -webkit-transform: translateY(-57px);
      -ms-transform: translateY(-57px);
          transform: translateY(-57px);
  margin-bottom: -16px;
  text-align: center;
}

@media screen and (max-width: 990px) {
  .sec-entry .entry .ttl_type02 {
    -webkit-transform: translateY(-33px);
        -ms-transform: translateY(-33px);
            transform: translateY(-33px);
  }
}

@media screen and (max-width: 767px) {
  .sec-entry .entry .ttl_type02 {
    -webkit-transform: translateY(-29px);
        -ms-transform: translateY(-29px);
            transform: translateY(-29px);
    letter-spacing: 2px;
  }
}

.sec-entry .entry .txtBase {
  margin-bottom: 62px;
  text-align: center;
  font-size: 16px;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .sec-entry .entry .txtBase {
    font-size: 13px;
    font-size: 1.3rem;
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 340px) {
  .sec-entry .entry .txtBase {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.sec-entry .entry .btn_type03 {
  -webkit-transform: translateY(51px);
      -ms-transform: translateY(51px);
          transform: translateY(51px);
}

@media screen and (max-width: 767px) {
  .sec-entry .entry .btn_type03 {
    -webkit-transform: translateY(35px);
        -ms-transform: translateY(35px);
            transform: translateY(35px);
  }
}

.main-visual02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  padding-bottom: 150px;
  background: #ffe86d;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .main-visual02 {
    padding: 130px 40px;
  }
}

@media screen and (max-width: 767px) {
  .main-visual02 {
    display: block;
    padding: 91px 20px 55px;
  }
}

.main-visual02 .img {
  width: 56.77%;
}

@media screen and (max-width: 1200px) {
  .main-visual02 .img {
    width: 100%;
  }
}

.main-visual02 .mv-l {
  width: 43.23%;
  padding: 78px 0 0 10.9%;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .main-visual02 .mv-l {
    width: 100%;
    padding: 0;
    margin-bottom: 36px;
  }
}

.main-visual02 .ttl_type01 {
  font-size: 80px;
  font-size: 8rem;
  letter-spacing: 1.8px;
}

@media only screen and (max-width: 1700px) {
  .main-visual02 .ttl_type01 {
    font-size: 60px;
    font-size: 6rem;
  }
}

@media screen and (max-width: 1200px) {
  .main-visual02 .ttl_type01 {
    text-align: center;
    font-size: 50px;
    font-size: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .main-visual02 .ttl_type01 {
    font-size: 35px;
    font-size: 3.5rem;
    letter-spacing: 0.8px;
    text-align: left;
  }
}

.ttl_custom01 {
  font-family: "Lato", sans-serif;
  font-size: 120px;
  font-size: 12rem;
  line-height: 0.917;
  font-weight: bold;
  margin-bottom: -19px;
  color: #f38aad;
  letter-spacing: -1px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 1200px) {
  .ttl_custom01 {
    font-size: 95px;
    font-size: 9.5rem;
    margin-bottom: -12px;
  }
}

@media screen and (max-width: 990px) {
  .ttl_custom01 {
    font-size: 70px;
    font-size: 7rem;
  }
}

@media screen and (max-width: 767px) {
  .ttl_custom01 {
    font-size: 45px;
    font-size: 4.5rem;
    padding-left: 20px;
    margin-bottom: -6px;
  }
}

.item-interview:nth-child(2n+2) .ttl_custom01 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-interview .sec-interview {
  padding: 151px 0 127px;
}

@media screen and (max-width: 1200px) {
  .page-interview .sec-interview {
    padding: 100px 0 70px;
  }
}

@media screen and (max-width: 767px) {
  .page-interview .sec-interview {
    padding: 53px 0 19px;
  }
}

.page-interview .sec-interview .list-interview {
  padding-bottom: 0;
}

.page-interview .item-interview {
  margin-bottom: 145px;
}

@media screen and (max-width: 1200px) {
  .page-interview .item-interview {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .page-interview .item-interview {
    padding-left: 0;
    margin-bottom: 77px;
  }
}

@media screen and (max-width: 767px) {
  .page-interview .item-interview:nth-child(2n+2) {
    padding-right: 0;
  }
}

@media screen and (min-width: 1201px) {
  .page-interview .item-interview:nth-child(2n+2) .ttl_custom01 {
    margin-bottom: -22px;
  }
}

@media screen and (max-width: 767px) {
  .page-interview .item-interview:nth-child(2n+2) .ttl_custom01 {
    padding-left: 0;
    padding-right: 20px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 990px) {
  .page-interview .item-interview:nth-child(2n+2) .img {
    padding-left: 0;
    padding-right: 62px;
  }
}

@media screen and (max-width: 990px) {
  .page-interview .item-interview .img {
    padding-left: 62px;
  }
}

.page-interview_detail .main-visual02 {
  padding-bottom: 150px;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .main-visual02 {
    padding-bottom: 50px;
  }
}

.page-interview_detail .main-visual02 .mv-l {
  margin-bottom: 0;
  width: 42.7%;
  padding: 180px 0 0 12%;
}

@media screen and (max-width: 1200px) {
  .page-interview_detail .main-visual02 .mv-l {
    width: 100%;
    padding: 0;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 767px) {
  .page-interview_detail .main-visual02 .mv-l {
    margin-bottom: 0;
  }
}

.page-interview_detail .main-visual02 .mv-l .box-info {
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .main-visual02 .mv-l .box-info {
    margin-bottom: 0;
  }
}

.page-interview_detail .main-visual02 .img {
  width: 57.3%;
}

@media screen and (max-width: 1200px) {
  .page-interview_detail .main-visual02 .img {
    width: 100%;
  }
}

.page-interview_detail .main-visual-page {
  background: #ff9dbd;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .main-visual-page {
    padding-top: 25%;
  }
}

@media screen and (max-width: 1200px) {
  .page-interview_detail .main-visual-page img {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .page-interview_detail .main-visual-page img {
    margin-bottom: 0;
  }
}

.page-interview_detail .main-visual-ttl {
  font-family: "Lato", sans-serif;
  font-size: 70px;
  font-size: 7rem;
  font-weight: 900;
  text-align: left;
  line-height: 1.1;
  letter-spacing: 2px;
  margin-bottom: 35px;
}

@media screen and (max-width: 1200px) {
  .page-interview_detail .main-visual-ttl {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .page-interview_detail .main-visual-ttl {
    font-size: 35px;
    font-size: 3.5rem;
    margin-bottom: 17px;
    text-align: left;
    letter-spacing: 3px;
  }
}

.page-interview_detail .tag {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 0 11px 2px;
  margin-bottom: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .tag {
    margin-top: 32px;
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}

.page-interview_detail .name {
  color: #222222;
}

.page-interview_detail .name-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
  margin-right: 23px;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .name-jp {
    font-size: 14px;
    font-size: 1.4rem;
    margin-right: 8px;
    letter-spacing: 1px;
  }
}

.page-interview_detail .name-en {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .name-en {
    font-size: 13px;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
  }
}

.page-interview_detail .sec-list-number {
  padding-top: 132px;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-list-number {
    padding-top: 48px;
  }
}

.page-interview_detail .sec-list-number .item {
  width: calc((100% - 20px)/2);
  margin-right: 20px;
  padding: 0 30px;
}

@media screen and (max-width: 1200px) {
  .page-interview_detail .sec-list-number .item {
    padding: 0 10px;
  }
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-list-number .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 46px;
    padding: 0;
  }
}

.page-interview_detail .sec-list-number .item:last-child {
  margin-right: 0;
}

.page-interview_detail .sec-list-number .item .tag-number {
  color: #2e0cac;
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.3;
  font-weight: 700;
  display: block;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-list-number .item .tag-number {
    font-size: 26px;
    font-size: 2.6rem;
    margin-bottom: 8px;
  }
}

.page-interview_detail .sec-list-number .item .ttl-item {
  color: #2e0cac;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 4px solid #2e0cac;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-list-number .item .ttl-item {
    font-size: 15px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding-bottom: 11px;
    border-bottom: 2px solid #2e0cac;
    line-height: 2;
  }
}

.page-interview_detail .sec-list-number .item .box-des {
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2;
  letter-spacing: -1px;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-list-number .item .box-des {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.9;
  }
}

.page-interview_detail .sec-list-number .box-img {
  padding: 120px 0;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-list-number .box-img {
    padding: 4px 0 50px;
  }
}

.page-interview_detail .sec-other-interview {
  padding-top: 172px;
  padding-bottom: 205px;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-other-interview {
    padding-top: 73px;
    padding-bottom: 116px;
  }
}

.page-interview_detail .sec-other-interview .ttl-other-interview {
  text-align: center;
  font-size: 40px;
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #2e0cac;
  margin-bottom: 85px;
  letter-spacing: 3.4px;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-other-interview .ttl-other-interview {
    font-size: 25px;
    font-size: 2.5rem;
    margin-bottom: 32px;
    letter-spacing: 2px;
  }
}

.page-interview_detail .sec-other-interview .list-other-interview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -65px;
}

.page-interview_detail .sec-other-interview .list-other-interview .item {
  width: calc((100% - 80px)/3);
  margin-right: 40px;
  margin-bottom: 63px;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-other-interview .list-other-interview .item {
    width: calc((100% - 20px)/2);
    margin-right: 20px;
    margin-bottom: 36px;
  }
}

.page-interview_detail .sec-other-interview .list-other-interview .item:nth-child(3n + 3) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-other-interview .list-other-interview .item:nth-child(3n + 3) {
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-other-interview .list-other-interview .item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

.page-interview_detail .sec-other-interview .list-other-interview .item .img {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-other-interview .list-other-interview .item .img {
    margin-bottom: 12px;
  }
}

.page-interview_detail .sec-other-interview .list-other-interview .item .img img {
  width: 100%;
  display: block;
}

.page-interview_detail .sec-other-interview .list-other-interview .item .box-info .tag {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 1px 6px;
  margin-bottom: 10px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 12px;
  font-size: 1.2rem;
}

@media screen and (max-width: 990px) {
  .page-interview_detail .sec-other-interview .list-other-interview .item .box-info .tag {
    display: inline;
    padding: 0;
    line-height: 1.6;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #000), color-stop(50%, transparent));
    background-image: -o-linear-gradient(left, #000 50%, transparent 50%);
    background-image: linear-gradient(to right, #000 50%, transparent 50%);
    background-size: 200% 25px;
    background-repeat: no-repeat;
    background-position: 0% 1px;
  }
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-other-interview .list-other-interview .item .box-info .tag {
    font-size: 10px;
    font-size: 1rem;
    display: inline;
    padding: 0;
    line-height: 1;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #000), color-stop(50%, transparent));
    background-image: -o-linear-gradient(left, #000 50%, transparent 50%);
    background-image: linear-gradient(to right, #000 50%, transparent 50%);
    background-size: 200% 15px;
    background-repeat: no-repeat;
    background-position: 0% 2.5px;
  }
}

.page-interview_detail .sec-other-interview .list-other-interview .item .box-info .name {
  color: #222222;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-other-interview .list-other-interview .item .box-info .name {
    margin-top: 4px;
  }
}

.page-interview_detail .sec-other-interview .list-other-interview .item .box-info .name-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
  margin-right: 16px;
  letter-spacing: 2px;
}

@media screen and (max-width: 990px) {
  .page-interview_detail .sec-other-interview .list-other-interview .item .box-info .name-jp {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-other-interview .list-other-interview .item .box-info .name-jp {
    font-size: 12px;
    font-size: 1.2rem;
    margin-right: 12px;
    letter-spacing: -1px;
  }
}

.page-interview_detail .sec-other-interview .list-other-interview .item .box-info .name-en {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 767px) {
  .page-interview_detail .sec-other-interview .list-other-interview .item .box-info .name-en {
    font-size: 10px;
    font-size: 1rem;
    letter-spacing: 0;
  }
}

.page-interview_detail .sec-other-interview .list-other-interview .item a {
  display: block;
}

.sec-message-interview {
  background: #f5f5f5;
  padding-top: 163px;
  padding-bottom: 203px;
  margin-top: 285px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .sec-message-interview {
    margin-top: 200px;
    padding: 100px 0;
  }
}

@media screen and (max-width: 767px) {
  .sec-message-interview {
    margin-top: 138px;
    padding-bottom: 52px;
    padding-top: 0;
  }
}

.sec-message-interview .wp-message {
  max-width: 1510px;
  margin-right: auto;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .sec-message-interview .wp-message {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.sec-message-interview .wp-message .img {
  width: 60.26%;
  margin-top: -30vh;
}

@media screen and (max-width: 1200px) {
  .sec-message-interview .wp-message .img {
    margin-top: -20vh;
  }
}

@media screen and (max-width: 990px) {
  .sec-message-interview .wp-message .img {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .sec-message-interview .wp-message .img {
    width: 83.46%;
    margin-top: -100px;
    margin-bottom: 38px;
  }
}

.sec-message-interview .wp-message .img img {
  width: 100%;
  display: block;
}

.sec-message-interview .wp-message .box-info {
  width: calc(100% - 60.26%);
  padding-left: 83px;
  padding-right: 35px;
}

@media screen and (max-width: 1200px) {
  .sec-message-interview .wp-message .box-info {
    padding: 0 30px;
  }
}

@media screen and (max-width: 990px) {
  .sec-message-interview .wp-message .box-info {
    width: 100%;
    padding: 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .sec-message-interview .wp-message .box-info {
    width: 100%;
    padding: 0 20px;
  }
}

.sec-message-interview .wp-message .box-info .ttl-message {
  font-size: 60px;
  font-size: 6rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #2e0cac;
  margin-bottom: 8px;
  letter-spacing: 5px;
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .sec-message-interview .wp-message .box-info .ttl-message {
    font-size: 30px;
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 22px;
    letter-spacing: 2.5px;
  }
}

.sec-message-interview .wp-message .box-info .ttl-message .ttl-sub {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  color: #2e0cac;
  display: block;
  margin: 10px 0 57px 4px;
  letter-spacing: 0;
  line-height: 1;
}

@media screen and (max-width: 767px) {
  .sec-message-interview .wp-message .box-info .ttl-message .ttl-sub {
    font-size: 11px;
    font-size: 1.1rem;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 22px;
  }
}

.sec-message-interview .wp-message .box-info .des {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 2;
  color: #333333;
  margin-left: 4px;
  letter-spacing: -1px;
}

@media screen and (max-width: 767px) {
  .sec-message-interview .wp-message .box-info .des {
    font-size: 13px;
    font-size: 1.3rem;
    margin-left: 0;
    line-height: 1.95;
    letter-spacing: 0;
  }
}

.sec-message-interview.style2 {
  margin-top: 0;
  padding-top: 182px;
  padding-bottom: 162px;
}

@media screen and (max-width: 990px) {
  .sec-message-interview.style2 {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .sec-message-interview.style2 {
    padding-top: 0;
    padding-bottom: 70px;
  }
}

.sec-message-interview.style2 .img {
  margin-top: 0;
  width: 66.23%;
}

@media screen and (max-width: 1200px) {
  .sec-message-interview.style2 .img {
    width: 60%;
  }
}

@media screen and (max-width: 990px) {
  .sec-message-interview.style2 .img {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .sec-message-interview.style2 .img {
    width: 100%;
    margin-bottom: 0;
  }
}

.sec-message-interview.style2 .box-info {
  width: calc(100% - 66.23%);
  padding: 90px 0 0 65px;
}

@media screen and (max-width: 1600px) {
  .sec-message-interview.style2 .box-info {
    padding-right: 15px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .sec-message-interview.style2 .box-info {
    width: 40%;
    padding: 10px 15px 0 30px;
  }
}

@media screen and (max-width: 990px) {
  .sec-message-interview.style2 .box-info {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .sec-message-interview.style2 .box-info {
    width: 100%;
    padding: 30px 20px 50px;
  }
}

@media screen and (max-width: 767px) {
  .sec-message-interview.style2 .box-info .ttl-message {
    margin-bottom: 27px;
  }
}

.sec-message-interview.style2 .box-info .ttl-message .ttl-sub {
  margin-top: 15px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1200px) {
  .sec-message-interview.style2 .box-info .ttl-message .ttl-sub {
    width: 40%;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .sec-message-interview.style2 .box-info .ttl-message .ttl-sub {
    margin-top: 0;
    margin-left: 25px;
    margin-bottom: 0;
  }
}

.sec-message-interview.style2 .box-info .des {
  letter-spacing: -0.5px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.xl {
  display: block;
}

@media screen and (max-width: 1200px) {
  .xl {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .xl {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .ip-5 {
    display: none;
  }
}

.ttl_custom02 {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  font-size: 6rem;
  line-height: calc(80 / 60);
  font-weight: bold;
  color: #2e0cac;
  letter-spacing: 5.5px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ttl_custom02 {
    line-height: 1.3333;
  }
}

@media screen and (max-width: 1200px) {
  .ttl_custom02 {
    font-size: 50px;
    font-size: 5rem;
  }
}

@media screen and (max-width: 767px) {
  .ttl_custom02 {
    font-size: 30px;
    font-size: 3rem;
    letter-spacing: 2.5px;
  }
}

.ttl_custom02 small {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 3.625;
  vertical-align: middle;
  letter-spacing: 0;
  margin-left: 25px;
  position: relative;
  top: -8px;
}

@media screen and (max-width: 1200px) {
  .ttl_custom02 small {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 767px) {
  .ttl_custom02 small {
    font-size: 11px;
    font-size: 1.1rem;
    margin-left: 14px;
    top: -3px;
  }
}

.ttl_custom03 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 2.9;
  font-weight: bold;
  border-bottom: 3px solid #2e0cac;
  color: #2e0cac;
  margin-bottom: 19px;
  letter-spacing: 1px;
  padding-bottom: 7px;
}

@media screen and (max-width: 1200px) {
  .ttl_custom03 {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .ttl_custom03 {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: calc(58 / 26);
    border-width: 2px;
    padding-bottom: 9px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 767px) and (-ms-high-contrast: active), screen and (max-width: 767px) and (-ms-high-contrast: none) {
  .ttl_custom03 {
    line-height: 2.2;
  }
}

.ttl_custom04 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: calc(58 / 22);
  font-weight: bold;
  border-bottom: 3px solid #2e0cac;
  color: #2e0cac;
  margin-bottom: 20px;
  padding-left: 20px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ttl_custom04 {
    line-height: 2.636;
  }
}

@media screen and (max-width: 1200px) {
  .ttl_custom04 {
    font-size: 19px;
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 767px) {
  .ttl_custom04 {
    font-size: 16px;
    font-size: 1.6rem;
  }
}

.page-about .main-visual02 {
  background: #ff9dbd;
}

.sec-message02 {
  background: #f5f5f5;
  padding: 166px 0 174px;
  margin-bottom: 173px;
}

@media screen and (max-width: 1200px) {
  .sec-message02 {
    padding: 100px 0;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .sec-message02 {
    padding: 55px 0 114px;
    margin-bottom: 0;
  }
}

.box-message {
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: calc(40 / 14);
  font-weight: 500;
  max-width: 747px;
  margin: 0 auto;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .box-message {
    line-height: 2.857;
  }
}

@media screen and (max-width: 767px) {
  .box-message {
    font-size: 13px;
    font-size: 1.3rem;
    text-align: left;
    line-height: calc(60 / 26);
  }
}

@media screen and (max-width: 767px) and (-ms-high-contrast: active), screen and (max-width: 767px) and (-ms-high-contrast: none) {
  .box-message {
    line-height: 2.3;
  }
}

.box-message .ttl {
  font-family: "Lato", sans-serif;
  font-size: 110px;
  font-size: 11rem;
  font-weight: bold;
  color: #666;
  line-height: 1.4;
  margin: 106px -20px 48px -6px;
  text-align: left;
  letter-spacing: 3.3px;
}

@media screen and (max-width: 1200px) {
  .box-message .ttl {
    font-size: 80px;
    font-size: 8rem;
    text-align: center;
    margin: 80px -20px 28px 0;
  }
}

@media screen and (max-width: 767px) {
  .box-message .ttl {
    font-size: 50px;
    font-size: 5rem;
    text-align: left;
    margin-top: 60px;
    letter-spacing: 0.6px;
  }
}

.box-message .des {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: calc(50 / 22);
  text-align: left;
  margin-bottom: 63px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .box-message .des {
    line-height: 2.273;
  }
}

@media screen and (max-width: 767px) {
  .box-message .des {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.9375;
    margin-bottom: 26px;
  }
}

.sec-benefits {
  margin-bottom: 20px;
  padding-bottom: 112px;
}

@media screen and (max-width: 1200px) {
  .sec-benefits {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .sec-benefits {
    padding-bottom: 0;
  }
}

.benefits-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  margin-bottom: 118px;
}

@media screen and (max-width: 1200px) {
  .benefits-head {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .benefits-head {
    margin-bottom: 39px;
  }
}

.benefits-head .img {
  width: 52.08%;
}

@media screen and (max-width: 767px) {
  .benefits-head .img {
    width: 100%;
  }
}

.benefits-head .ttl_custom02 {
  width: 47.92%;
  padding: 70px 70px 49px;
}

@media screen and (max-width: 1200px) {
  .benefits-head .ttl_custom02 {
    padding: 40px 40px 20px;
  }
}

@media screen and (max-width: 767px) {
  .benefits-head .ttl_custom02 {
    width: 100%;
    padding: 20px 19px 0;
  }
}

.benefits-head .ttl_custom02 small {
  display: block;
  vertical-align: top;
  margin-left: 4px;
  letter-spacing: 0.6px;
}

@media screen and (max-width: 767px) {
  .benefits-head .ttl_custom02 small {
    display: inline-block;
    margin-left: 15px;
    top: 0;
  }
}

.list-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -34px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .list-benefits {
    margin: 0 -10px;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.75;
  }
}

.list-benefits .item {
  width: 33.33%;
  padding: 20px 34px;
  letter-spacing: -0.7px;
  margin-bottom: 28px;
}

@media screen and (max-width: 767px) {
  .list-benefits .item {
    width: 50%;
    padding: 10px;
  }
}

.sec-date {
  background: #f5f5f5;
  padding: 137px 0;
}

@media screen and (max-width: 767px) {
  .sec-date {
    padding: 42px 0;
  }
}

.sec-date .ttl_custom02 {
  margin-bottom: 36px;
}

.group-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -40px;
  color: #3d3d3d;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: calc(58 / 14);
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .group-date {
    margin: 0;
  }
}

.group-date .item {
  width: 50%;
  padding: 10px 40px;
  margin-bottom: 70px;
}

@media screen and (max-width: 767px) {
  .group-date .item {
    width: 100%;
    padding: 0;
  }
}

.group-date .item .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.group-date .item .content .ratio {
  font-family: "Lato", sans-serif;
  font-size: 80px;
  font-size: 8rem;
  font-weight: bold;
  line-height: 1.4;
  margin: 17px 0 10px 6px;
  letter-spacing: -1.3px;
}

.group-date .item .content .real {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
}

.group-date .item .content .real span {
  margin: 0 20px 0 35px;
}

.group-date .item .content .jqbar {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  margin-bottom: 14px;
}

.group-date .item .content .jqbar .bar-label {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  line-height: 1.4;
  min-width: 72px;
  text-align: right;
}

.group-date .item .content .jqbar .bar-label span {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-size: 2rem;
}

.group-date .item .content .jqbar .bar-percent {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.4;
}

.group-date .item .content .jqbar .bar-percent span {
  font-size: 20px;
  font-size: 2rem;
}

.group-date .item .content .jqbar .bar-level-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
}

.group-date .item .content .maternity {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 20px;
  font-size: 2rem;
  line-height: 2.2;
}

.group-date .item .content .maternity span {
  font-size: 80px;
  font-size: 8rem;
  line-height: 1;
}

.group-date .item .content .bars {
  padding-top: 33px;
}

.group-date .item:first-child .wrap {
  padding: 115px 18px 0 0;
}

.hari-bar {
  position: relative;
  top: 100px;
}

.jqbar.horizontal span {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.jqbar.horizontal .bar-percent {
  font-size: 14px;
}

.jqbar.horizontal span {
  position: relative;
}

.jqbar.horizontal .bar-level {
  margin-right: 20px;
}

.jqbar.horizontal .bar-level:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 13px;
  left: 0px;
  right: 0;
  background: #7d7d7d;
}

.bar-label {
  margin-right: 19px;
}

.page-job .bg-blue-light {
  background: #bbdff7;
}

@media screen and (max-width: 767px) {
  .page-job .bg-blue-light {
    padding-top: 80px;
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 767px) {
  .page-job .bg-blue-light .ttl_type01 {
    letter-spacing: 3px;
  }
}

.page-job .bg-blue-light .mv-l {
  padding: 78px 0 0 15.6%;
}

@media screen and (max-width: 1200px) {
  .page-job .bg-blue-light .mv-l {
    width: 100%;
    padding: 0;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 767px) {
  .page-job .bg-blue-light .mv-l {
    margin-bottom: 25px;
  }
}

.page-job .list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .page-job .list-link {
    margin-top: 32px;
  }
}

.page-job .list-link li {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .page-job .list-link li {
    margin-right: 16px;
  }
}

.page-job .list-link li a {
  display: block;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #222222;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  .page-job .list-link li a {
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 0;
  }
}

.page-job .sec-jobs {
  padding-top: 115px;
  padding-bottom: 150px;
  background: #f5f5f5;
}

@media screen and (max-width: 767px) {
  .page-job .sec-jobs {
    padding-top: 28px;
    padding-bottom: 108px;
  }
}

.page-job .sec-jobs .ttl-jobs {
  font-size: 60px;
  font-size: 6rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #2e0cac;
  margin-bottom: 75px;
  letter-spacing: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .page-job .sec-jobs .ttl-jobs {
    display: block;
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 31px;
    letter-spacing: 2.5px;
    text-align: center;
  }
}

.page-job .sec-jobs .ttl-jobs .ttl-job-sub {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  color: #2e0cac;
  margin-left: 26px;
  letter-spacing: 0;
}

@media screen and (max-width: 767px) {
  .page-job .sec-jobs .ttl-jobs .ttl-job-sub {
    font-size: 11px;
    font-size: 1.1rem;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.page-job .sec-jobs .list-position .item-position {
  padding: 23px 40px 37px 40px;
  background: #3d3d3d;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .page-job .sec-jobs .list-position .item-position {
    padding: 20px;
    padding-bottom: 26px;
    margin-bottom: 20px;
  }
}

.page-job .sec-jobs .list-position .item-position:last-child {
  margin-bottom: 0;
}

.page-job .sec-jobs .list-position .item-position .ttl-position {
  font-size: 50px;
  font-size: 5rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #fff;
  letter-spacing: 1px;
}

@media screen and (max-width: 990px) {
  .page-job .sec-jobs .list-position .item-position .ttl-position {
    font-size: 45px;
    font-size: 4.5rem;
  }
}

@media screen and (max-width: 767px) {
  .page-job .sec-jobs .list-position .item-position .ttl-position {
    display: block;
    font-size: 28px;
    font-size: 2.8rem;
    margin-bottom: 22px;
    padding-bottom: 20px;
  }
}

.page-job .sec-jobs .list-position .item-position .ttl-position small {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  color: #fff;
  margin-left: 28px;
  letter-spacing: 0;
}

@media screen and (max-width: 767px) {
  .page-job .sec-jobs .list-position .item-position .ttl-position small {
    font-size: 11px;
    font-size: 1.1rem;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.page-job .sec-jobs .list-position .item-position .des {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
  line-height: 2;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 990px) {
  .page-job .sec-jobs .list-position .item-position .des {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 767px) {
  .page-job .sec-jobs .list-position .item-position .des {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 1.9;
    letter-spacing: -1px;
  }
}

.page-job .box-img-career {
  width: 100%;
  margin-top: 135px;
}

@media screen and (max-width: 767px) {
  .page-job .box-img-career {
    margin-top: 0;
  }
}

.page-job .sec-career-story {
  padding-top: 120px;
  padding-bottom: 198px;
  background: #f5f5f5;
}

@media screen and (max-width: 767px) {
  .page-job .sec-career-story {
    padding-top: 48px;
    padding-bottom: 70px;
  }
}

.page-job .sec-career-story .ttl-career-story {
  text-align: center;
  font-size: 40px;
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #2e0cac;
  margin-bottom: 135px;
  letter-spacing: 4px;
}

@media screen and (max-width: 767px) {
  .page-job .sec-career-story .ttl-career-story {
    font-size: 25px;
    font-size: 2.5rem;
    margin-bottom: 45px;
    letter-spacing: 2px;
  }
}

.page-job .sec-career-story .list-career-story .item-career-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 88px;
}

@media screen and (max-width: 767px) {
  .page-job .sec-career-story .list-career-story .item-career-story {
    margin-bottom: 34px;
  }
}

.page-job .sec-career-story .list-career-story .item-career-story:last-child {
  margin-bottom: 0;
}

.page-job .sec-career-story .list-career-story .item-career-story .img {
  width: 43.64%;
}

@media screen and (max-width: 767px) {
  .page-job .sec-career-story .list-career-story .item-career-story .img {
    width: 100%;
    margin-bottom: 23px;
  }
}

.page-job .sec-career-story .list-career-story .item-career-story .box-info {
  width: calc(100% - 43.64%);
  padding-left: 75px;
  padding-right: 66px;
}

@media screen and (max-width: 990px) {
  .page-job .sec-career-story .list-career-story .item-career-story .box-info {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .page-job .sec-career-story .list-career-story .item-career-story .box-info {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}

.page-job .sec-career-story .list-career-story .item-career-story .box-info .case {
  color: #2e0cac;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 900;
  display: block;
  letter-spacing: 1px;
  margin-bottom: 15px;
  margin-top: 2px;
}

@media screen and (max-width: 767px) {
  .page-job .sec-career-story .list-career-story .item-career-story .box-info .case {
    font-size: 10px;
    font-size: 1rem;
    margin-bottom: 5px;
  }
}

.page-job .sec-career-story .list-career-story .item-career-story .box-info .ttl-item {
  color: #2e0cac;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 32px;
  padding-bottom: 22px;
  border-bottom: 3px solid #2e0cac;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 767px) {
  .page-job .sec-career-story .list-career-story .item-career-story .box-info .ttl-item {
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 21px;
    padding-bottom: 13px;
    border-bottom: 2px solid #2e0cac;
    line-height: 2;
  }
}

.page-job .sec-career-story .list-career-story .item-career-story .box-info .list-year li {
  margin-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page-job .sec-career-story .list-career-story .item-career-story .box-info .list-year li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .page-job .sec-career-story .list-career-story .item-career-story .box-info .list-year li {
    margin-bottom: 6px;
  }
}

.page-job .sec-career-story .list-career-story .item-career-story .box-info .list-year li span {
  color: #222222;
  display: block;
  line-height: 2;
  font-size: 14px;
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  .page-job .sec-career-story .list-career-story .item-career-story .box-info .list-year li span {
    font-size: 12px;
    font-size: 1.2rem;
  }
}

.page-job .sec-career-story .list-career-story .item-career-story .box-info .list-year li span:first-child {
  position: relative;
  font-family: "Lato", sans-serif;
  margin-right: 70px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .page-job .sec-career-story .list-career-story .item-career-story .box-info .list-year li span:first-child {
    margin-right: 56px;
  }
}

.page-job .sec-career-story .list-career-story .item-career-story .box-info .list-year li span:first-child:after {
  content: '';
  display: block;
  width: 25px;
  height: 1px;
  background: #bbbbbb;
  position: absolute;
  top: 50%;
  right: -50px;
}

@media screen and (max-width: 767px) {
  .page-job .sec-career-story .list-career-story .item-career-story .box-info .list-year li span:first-child:after {
    width: 20px;
    right: -40px;
  }
}

.page-job .sec-career-story .list-career-story .item-career-story .box-info .list-year li span:last-child {
  font-family: "Noto Sans JP", sans-serif;
  color: #222222;
  display: inline-block;
  font-weight: 500;
}

.bg-white {
  background: #ffffff;
}

/*# sourceMappingURL=maps/styles.css.map */
