.ttl {
	&_custom02 {
		font-family: $font-lato;
		@include font-size(60);
		line-height: calc(80 / 60);
		font-weight: bold;
		color: #2e0cac;
		letter-spacing: 5.5px;
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			line-height: 1.3333;
		}
		@include mq(xl) {
			@include font-size(50);
		}
		@include mq {
			@include font-size(30);
			letter-spacing: 2.5px;
		}
		small {
			font-family: $font-noto-san;
			@include font-size(16);
			line-height: 3.625;
			vertical-align: middle;
			letter-spacing: 0;
			margin-left: 25px;
			position: relative;
			top: -8px;
			@include mq(xl) {
				@include font-size(13);
			}
			@include mq {
				@include font-size(11);
				margin-left: 14px;
				top: -3px;
			}
		}
	}
	&_custom03 {
		@include font-size(20);
		line-height: 2.9;
		font-weight: bold;
		border-bottom: 3px solid #2e0cac;
		color: #2e0cac;
		margin-bottom: 19px;
		letter-spacing: 1px;
		padding-bottom: 7px;
		@include mq(xl) {
			@include font-size(16);
		}
		@include mq {
			@include font-size(13);
			line-height: calc(58 / 26);
			border-width: 2px;
			padding-bottom: 9px;
			margin-bottom: 12px;
			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
				line-height: 2.2;
			}
		}
	}
	&_custom04 {
		@include font-size(22);
		line-height: calc(58 / 22);
		font-weight: bold;
		border-bottom: 3px solid #2e0cac;
		color: #2e0cac;
		margin-bottom: 20px;
		padding-left: 20px;
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			line-height: 2.636;
		}
		@include mq(xl) {
			@include font-size(19);
		}
		@include mq {
			@include font-size(16);
		}
	}
}

.page-about {
	.main-visual02 {
		background: #ff9dbd;
	}
}

.sec-message02 {
	background: #f5f5f5;
	padding: 166px 0 174px;
	margin-bottom: 173px;
	@include mq(xl) {
		padding: 100px 0;
		margin-bottom: 100px;
	}
	@include mq {
		padding: 55px 0 114px;
		margin-bottom: 0;;
	}
}
.box-message {
	text-align: center;
	@include font-size(14);
	line-height: calc(40 / 14);
	font-weight: 500;
	max-width: 747px;
	margin: 0 auto;
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		line-height: 2.857;
	}
	@include mq {
		@include font-size(13);
		text-align: left;
		line-height: calc(60 / 26);
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			line-height: 2.3;
		}
	}
	.ttl {
		font-family: $font-lato;
		@include font-size(110);
		font-weight: bold;
		color: #666;
		line-height: 1.4;
		margin: 106px -20px 48px -6px;
		text-align: left;
		letter-spacing: 3.3px;
		@include mq(xl) {
			@include font-size(80);
			text-align: center;
			margin: 80px -20px 28px 0;
		}
		@include mq {
			@include font-size(50);
			text-align: left;
			margin-top: 60px;
			letter-spacing: 0.6px;
		}
	}
	.des {
		@include font-size(22);
		line-height: calc(50 / 22);
		text-align: left;
		margin-bottom: 63px;
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			line-height: 2.273;
		}
		@include mq {
			@include font-size(16);
			line-height: 1.9375;
			margin-bottom: 26px;
		}
	}
}


.sec-benefits {
	margin-bottom: 20px;
	padding-bottom: 112px;
	@include mq(xl) {
		padding-bottom: 60px;
	}
	@include mq {
		padding-bottom: 0;
	}
}
.benefits-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	-webkit-align-items: center;
	margin-bottom: 118px;
	@include mq(xl) {
		margin-bottom: 60px;
	}
	@include mq {
		margin-bottom: 39px;
	}
	.img {
		width: 52.08%;
		@include mq {
			width: 100%;
		}
	}
	.ttl_custom02 {
		width: 47.92%;
		padding: 70px 70px 49px;
		@include mq(xl) {
			padding: 40px 40px 20px;
		}
		@include mq {
			width: 100%;
			padding: 20px 19px 0;
		}
		small {
			display: block;
			vertical-align: top;
			margin-left: 4px;
			letter-spacing: 0.6px;
			@include mq {
				display: inline-block;
				margin-left: 15px;
				top: 0;
			}
		}
	}
}
.list-benefits {
	display: flex;
	margin: 0 -34px;
	flex-wrap: wrap;
	@include font-size(14);
	line-height: 2;
	@include mq {
		margin: 0 -10px;
		@include font-size(12);
		line-height: 1.75;
	}
	.item {
		width: 33.33%;
		padding: 20px 34px;
		letter-spacing: -0.7px;
		margin-bottom: 28px;
		@include mq {
			width: 50%;
			padding: 10px;
		}
	}
}

.sec-date {
	background: #f5f5f5;
	padding: 137px 0;
	@include mq {
		padding: 42px 0;
	}
	.ttl_custom02 {
		margin-bottom: 36px;
	}
}

.group-date {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -40px;
	color: #3d3d3d;
	@include font-size(14);
	line-height: calc(58 / 14);
	font-weight: bold;
	@include mq {
		margin: 0;
	}
	.item {
		width: 50%;
		padding: 10px 40px;
		margin-bottom: 70px;
		@include mq {
			width: 100%;
			padding: 0;
		}
		.content {
			display: flex;
			justify-content: center;
			text-align: center;
			.ratio {
				font-family: $font-lato;
				@include font-size(80);
				font-weight: bold;
				line-height: 1.4;
				margin: 17px 0 10px 6px;
				letter-spacing: -1.3px;
			}
			.real {
				@include font-size(14);
				font-weight: bold;
				span {
					margin: 0 20px 0 35px;
				}
			}
			.jqbar {
				text-align: left;
				display: flex;
				align-items: center;
				-webkit-align-items: center;
				margin-bottom: 14px;
				.bar-label {
					@include font-size(14);
					font-family: $font-noto-san;
					font-weight: bold;
					line-height: 1.4;
					min-width: 72px;
					text-align: right;
					span {
						font-family: $font-lato;
						@include font-size(20);
					}
				}
				.bar-percent {
					font-family: $font-lato;
					@include font-size(36);
					font-weight: bold;
					line-height: 1.4;
					span {
						@include font-size(20);
					}
				}
				.bar-level-wrapper {
					display: flex;
					align-items: center;
					-webkit-align-items: center;
				}
			}
			.maternity {
				font-family: $font-lato;
				font-weight: bold;
				@include font-size(20);
				line-height: 2.2;
				span {
					@include font-size(80);
					line-height: 1;
				}
			}
			.bars {
				padding-top: 33px;
			}
		}
		&:first-child {
			.wrap {
				padding: 115px 18px 0 0;
			}
		}
	}
}


//progessbar

.hari-bar {
	position: relative;
	top: 100px;
}

.jqbar.horizontal span {
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
}

.jqbar.horizontal .bar-percent {
	font-size: 14px;
}

.jqbar.horizontal span {
	position: relative;
}
.jqbar.horizontal .bar-level{
	margin-right: 20px;
}

.jqbar.horizontal .bar-level:after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 13px;
	left: 0px;
	right: 0;
	background: #7d7d7d;
}

.bar-label {
	margin-right: 19px;
}