.main-page{
}
//scroll animation
@-webkit-keyframes flow {
	from {top: 28px;}
	to {top: 100%;}
	
}
@keyframes flow {
	from {top: 28px;}
	to {top: 100%;}
}
@-webkit-keyframes flow2 {
	from {top: 20px;}
	to {top: 100%;}
	
}
@keyframes flow {
	from {top: 20px;}
	to {top: 100%;}
}
.main-visual{
	text-align: right;
	padding-bottom: 150px;
	background: $color-yellow;
	position: relative;
	overflow: hidden;
	@include mq{
		padding-bottom: 76px;
	}
	img{
		max-width: 100%;
		margin-top: -1px;
	}
	.inner{
		position: relative;
		max-width: 1574px;
		text-align: right;
		padding-left: 20%;
		@include mq{
			padding-left: 17%;
			padding-right: 0;
		}
	}
	.ttl_type01{
		position: absolute;
		transform: translateY(-50%);
		left: 1.8%;
		top: 54%;
		@include mq{
			left: 20px;
			top:auto;
			bottom:7%;
			transform: translateY(0);
		}
	}
}
.btn-scrool{
	bottom:0;
	position: absolute;
	width: 100%;
	@include mq{
		bottom:-37px;
	}
}
.scroll{
	font-weight: bold;
	@include font-size(14);
	line-height: 1;
	display: inline-block;
	padding-bottom: 76px;
	color:#222;
	@include mq{
		@include font-size(10);
	}
	b{
		position: absolute;
		height: 60px;
		width: 1px;
		left: 50%;
		top:28px;
		background: #222222;
		-webkit-animation: flow 2s infinite; /* Safari 4.0 - 8.0 */
		animation: flow 2s infinite;
		@include mq{
			height: 30px;
			top: 20px;
			-webkit-animation: flow2 2s infinite; /* Safari 4.0 - 8.0 */
			animation: flow2 2s infinite;
		}
	}
}
.sec-about{
	padding: 200px 0 190px;
	background: #f5f5f5;
	@include mq{
		padding: 37px 0 56px;
	}
	.about{
		max-width: 1600px;
		display: flex;
		@include mq{
			padding: 0 20px;
		}
		&_img{
			width: calc(900/1600*100%);
			img{
				width: 100%;
			}
			@include mq{
				width: 100%;
			}
		}
		&_content{
			width: calc(700/1600*100%);
			padding-left: 62px;
			padding-top: 4px;
			padding-right: 20px;
			@include mq(lg){
				padding-left: 30px;
			}
			@include mq{
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
			.ttl_type02{
				margin-bottom: 35px;
				@include mq(lg){
					@include font-size(38);
					margin-bottom: 20px;
				}
				@include mq{
					margin-bottom: 13px;
					@include font-size(35);
				}
			}
			img{
				@include mq{
					margin-bottom: 22px;
				}
			}
			.txt-des{
				font-family: $font-noto-san;
				font-weight: 700;
				@include font-size(22);
				line-height: 1.8;
				margin-bottom: 35px;
				@include mq(lg){
					@include font-size(18);
					margin-bottom: 20px;
				}
				@include mq{
					@include font-size(16);
				}
			}
			.txtBase{
				margin-bottom: 60px;
				@include mq(lg){
					margin-bottom: 30px;
				}
				@include mq{
					letter-spacing: -1px;
					margin-bottom: 24px;
				}
			}
		}
	}
}

.sec-interview{
	padding: 188px 0 247px;
	background: #ff9dbd;
	.ttl_type02{
		margin-bottom: 136px;
		@include mq{
			margin-bottom: 47px;
			letter-spacing: 2px;
			padding-left: 20px;
		}
	}
	.inner{
		@include mq{
			padding: 0;
		}
	}
	@include mq{
		padding: 44px 0 61px;
		.btn_type03{
			margin-left: 20px;
			margin-right: 20px;
			width: calc(100% - 40px);
		}
	}
}
.item-interview{
	text-align: right;
	position: relative;
	margin-bottom: 113px;
	@include mq{
		margin-bottom: 93px;
		padding-left: 40px;
		&:nth-child(2n+2){
			padding-right: 40px;
			padding-left: 0;
		}
	}
	a{
		position: relative;
		display: block;
		color:#222;
	}
	&:last-child{
		margin-bottom: 0;
	}
	.info{
		position: absolute;
		background: #ffffff;
		min-width: 300px;
		bottom:-32px;
		z-index: 2;
		right: 0;
		padding: 15px 20px 13px;
		text-align: left;
		@include mq{
			min-width: 195px;
			padding: 9px 12px 5px;
		}
		.label{
			display: inline-block;
			font-weight: 500;
			@include font-size(12);
			padding: 3px 6px;
			background: #222222;
			margin-bottom: 2px;
			height: 17px;
			color:#fff;
			line-height: 11px;
			@include mq{
				@include font-size(10);
				height: 13px;
				line-height: 6px;
			}
		}
		p{
			font-weight: 500;
			@include font-size(18);
			letter-spacing: 2px;
			span{
				font-weight: bold;
				@include font-size(12);
				display: inline-block;
				margin-left: 10px;
				letter-spacing: 1px;
				font-family: $font-lato;
			}
			@include mq{
				@include font-size(13);
				letter-spacing: 0;
				span{
					@include font-size(10);
					letter-spacing: 0;
				}
			}
		}
	}
	&:nth-child(2n+2){
		text-align: left;
		.info{
			right:auto;
			left: 0;
			bottom:-56px;
		}
		@include mq{
			margin-bottom: 75px;
			.info{
				bottom:-30px;
				padding: 9px 19px 6px;
				min-width: 172px;
				.label{
					letter-spacing: -1px;
					margin-bottom: 3px;
				}
				p{
					span{
						margin-left: 8px;
						letter-spacing: 0;
					}
				}
			}
		}
	}
	&:nth-child(3){
		.info{
		@include mq{
			bottom:-29px;
			min-width: 220px;
			padding: 9px 14px 5px;
			.label{
				letter-spacing: -1px;
				padding-right: 5px;
			}
			p{
				span{
					margin-left: 14px;
					letter-spacing: 0px;
				}
			}
		}
		}
	}
}
.list-interview{
	padding-bottom: 123px;
	@include mq{
		padding-bottom: 79px;
	}
}
.sec-job{
	padding: 130px 0;
	background: #bbdff7;
	@include mq{
		padding: 37px 0 53px;
	}
}
.job{
	display: flex;
	@include mq{
		flex-wrap: wrap;
	}
	&_content{
		width: calc(590/1100*100%);
		padding-top: 109px;
		@include mq(lg){
			padding-top: 30px;
		}
		@include mq{
			width: 100%;
			padding-top: 0;
		}
		.ttl_type02{
			margin-bottom: 34px;
			margin-left: -14px;
			@include mq(xl){
				margin-left: 0;
			}
			@include mq{
				text-align: center;
				letter-spacing: 3px;
				margin-bottom: 20px;
			}
		}
		.txtBase{
			margin-bottom: 56px;
			@include mq{
				letter-spacing: -1px;
				text-align: center;
				margin-bottom: 33px;
			}
		}
		img{
			@include mq{
				max-width: 225px;
				display: block;
				margin: 0 auto 30px;
			}
		}
	}
	&_img{
		width: calc(510/1100*100%);
		padding-right: 78px;
		@include mq{
			width: 100%;
		}
		img{
			width: 100%;
		}
	}
}
.sec-entry{
	padding: 196px 0 220px;
	background: #ffe86d;
	@include mq{
		padding: 115px 0 135px;
	}
	.entry{
		background: #ffffff;
		padding: 0 20px;
		.ttl_type02{
			transform: translateY(-57px);
			margin-bottom: -16px;
			text-align: center;
			@include mq(lg){
				transform: translateY(-33px);
			}
			@include mq{
				transform: translateY(-29px);
				letter-spacing: 2px;
			}
		}
		.txtBase{
			margin-bottom: 62px;
			text-align: center;
			@include font-size(16);
			@include mq{
				@include font-size(13);
				margin-bottom:23px;
			}
			@include mq(sm-ip){
				@include font-size(12);
			}
		}
		.btn_type03{
			transform: translateY(51px);
			@include mq{
				transform: translateY(35px);
			}
		}
		
	}
}