.main-visual02 {
	display: flex;
	align-items: center;
	-webkit-align-items: center;
	padding-bottom: 150px;
	background: #ffe86d;
	flex-wrap: wrap;
	@include mq(xl) {
		padding: 130px 40px;
	}
	@include mq {
		display: block;
		padding: 91px 20px 55px;
	}
	.img {
		width: 56.77%;
		@include mq(xl) {
			width: 100%;
		}
	}
	.mv-l {
		width: 43.23%;
		padding: 78px 0 0 10.9%;
		position: relative;
		@include mq(xl) {
			width: 100%;
			padding: 0;
			margin-bottom: 36px;
		}
	}
	.ttl_type01 {
		@include font-size(80);
		letter-spacing: 1.8px;
		@media only screen and (max-width: 1700px) {
			@include font-size(60);
		}
		@include mq(xl) {
			text-align: center;
			@include font-size(50);
		}
		@include mq {
			@include font-size(35);
			letter-spacing: 0.8px;
			text-align: left;
		}
	}
}

.ttl_custom01 {
	font-family: $font-lato;
	@include font-size(120);
	line-height: 0.917;
	font-weight: bold;
	margin-bottom: -19px;
	color: #f38aad;
	letter-spacing: -1px;
	text-align: left;
	display: flex;
	justify-content: flex-start;
	@include mq(xl) {
		@include font-size(95);
		margin-bottom: -12px;
	}
	@include mq(lg) {
		@include font-size(70);
	}
	@include mq {
		@include font-size(45);
		padding-left: 20px;
		margin-bottom: -6px;
	}
}
.item-interview {
	&:nth-child(2n+2) {
		.ttl_custom01 {
			justify-content: flex-end;
		}
	}
}

.page-interview {
	.sec-interview {
		padding: 151px 0 127px;
		@include mq(xl) {
			padding: 100px 0 70px;
		}
		@include mq {
			padding: 53px 0 19px;
		}
		.list-interview {
			padding-bottom: 0;
		}
	}
	.item-interview {
		margin-bottom: 145px;
		@include mq(xl) {
			margin-bottom: 100px;
		}
		@include mq {
			padding-left: 0;
			margin-bottom: 77px;
		}
		&:nth-child(2n+2) {
			@include mq {
				padding-right: 0;
			}
			.ttl_custom01 {
				@include mq(xl-min) {
					margin-bottom: -22px;
				}
				@include mq {
					padding-left: 0;
					padding-right: 20px;
					letter-spacing: 1px;
				}
			}
			.img {
				@include mq(lg) {
					padding-left: 0;
					padding-right: 62px;
				}
			}
		}
		.img {
			@include mq(lg) {
				padding-left: 62px;
			}
		}
	}
}