.page-interview_detail{
	.main-visual02{
		padding-bottom: 150px;
		@include mq(){
			padding-bottom: 50px;
		}
		.mv-l{
			margin-bottom: 0;
			width: 42.7%;
			padding: 180px 0 0 12%;
			@include mq(xl) {
				width: 100%;
				padding: 0;
				margin-bottom: 36px;
			}
			@include mq(){
				margin-bottom: 0;
			}
			.box-info{
				margin-bottom: 50px;
				@include mq(){
					margin-bottom: 0;
				}
			}
		}
		.img{
			width: 57.3%;
			@include mq(xl) {
				width: 100%;
			}
		}
	}
	.main-visual-page{
		background: $color-pink-light;
		
		@include mq(){
			padding-top: 25%;
		}
		img{
			@include mq(xl){
				margin-bottom: 0px;
			}
			@include mq(){
				margin-bottom: 0;
			}
		}
	}
	//STYLE CUSTOM MAIN VISUAL
	.main-visual-ttl{
		font-family: $font-lato;
		@include font-size(70);
		font-weight: 900;
		text-align: left;
		line-height: 1.1;
		letter-spacing: 2px;
		margin-bottom: 35px;
		@include mq(xl){
			text-align: center;
		}
		@include mq(){
			@include font-size(35);
			margin-bottom: 17px;
			text-align: left;
			letter-spacing: 3px;
		}
	}
	.tag{
		display: inline-block;
		background: $color-black;
		color: $color-white;
		padding: 0 11px 2px;
		margin-bottom: 20px;
		font-family: $font-noto-san;
		font-weight: 500;
		@include font-size(14);
		@include mq(){
			margin-top: 32px;
			@include font-size(12);
			margin-bottom: 10px;
		}
	}
	.name{
		color: $color-black-light;
		&-jp{
			font-family: $font-noto-san;
			font-weight: bold;
			@include font-size(18);
			margin-right: 23px;
			letter-spacing: 2px;
			@include mq(){
				@include font-size(14);
				margin-right: 8px;
				letter-spacing: 1px;
			}
		}
		&-en{
			font-family: $font-lato;
			@include font-size(16);
			font-weight: 700;
			@include mq(){
				@include font-size(13);
				letter-spacing: 0.5px;
			}
		}
	}
	//END STYLE CUSTOM MAIN VISUAL
	.sec-list-number{
		padding-top: 132px;
		@include mq(){
			padding-top: 48px;
		}
		.item{
			width: calc((100% - 20px)/2);
			margin-right: 20px;
			padding: 0 30px;
			@include mq(xl){
				padding: 0 10px;
			}
			@include mq(){
				width: 100%;
				margin-right: 0;
				margin-bottom: 46px;
				padding: 0;
			}
			&:last-child{
				margin-right: 0;
			}
			.tag-number{
				color: $color-violet-dark;
				font-family: $font-lato;
				@include font-size(32);
				line-height: 1.3;
				font-weight: 700;
				display: block;
				margin-bottom: 16px;
				@include mq(){
					@include font-size(26);
					margin-bottom: 8px;
				}
			}
			.ttl-item{
				color: $color-violet-dark;
				font-family: $font-noto-san;
				@include font-size(20);
				font-weight: bold;
				margin-bottom: 30px;
				padding-bottom: 20px;
				border-bottom: 4px solid $color-violet-dark;
				@include mq(){
					@include font-size(15);
					margin-bottom: 20px;
					padding-bottom: 11px;
					border-bottom: 2px solid $color-violet-dark;
					line-height: 2;
				}
			}
			.box-des{
				color: $color-black-medium;
				font-family: $font-noto-san;
				@include font-size(14);
				line-height: 2;
				letter-spacing: -1px;
				@include mq(){
					@include font-size(13);
					line-height: 1.9;
				}
			}
		}
		.box-img{
			padding: 120px 0;
			@include mq(){
				padding: 4px 0 50px;
			}
		}
	}
	
	.sec-other-interview{
		padding-top: 172px;
		padding-bottom: 205px;
		@include mq(){
			padding-top: 73px;
			padding-bottom: 116px;
		}
		.ttl-other-interview{
			text-align: center;
			@include font-size(40);
			font-family: $font-lato;
			font-weight: 900;
			color: $color-violet-dark;
			margin-bottom: 85px;
			letter-spacing: 3.4px;
			@include mq(){
				@include font-size(25);
				margin-bottom: 32px;
				letter-spacing: 2px;
			}
		}
		.list-other-interview{
			display: flex;
			flex-wrap: wrap;
			margin-bottom: -65px;
			.item{
				width: calc((100% - 80px)/3);
				margin-right: 40px;
				margin-bottom: 63px;
				@include mq(){
					width: calc((100% - 20px)/2);
					margin-right: 20px;
					margin-bottom: 36px;
				}
				&:nth-child(3n + 3){
					margin-right: 0;
					@include mq(){
						margin-right: 20px;
					}
				}
				&:nth-child(2n + 2){
					@include mq(){
						margin-right: 0;
					}
				}
				.img{
					margin-bottom: 20px;
					@include mq(){
						margin-bottom: 12px;
					}
					img{
						width: 100%;
						display: block;
					}
				}
				.box-info{
					.tag{
						display: inline-block;
						background: $color-black;
						color: $color-white;
						padding: 1px 6px;
						margin-bottom: 10px;
						font-family: $font-noto-san;
						font-weight: 500;
						@include font-size(12);
						@include mq(lg){
							display: inline;
							padding: 0;
							line-height: 1.6;
							background-color: transparent;
							background-image: linear-gradient(to right, #000 50%, transparent 50%);
							background-size: 200% 25px;
							background-repeat: no-repeat;
							background-position: 0% 1px;
						}
						@include mq(){
							@include font-size(10);
							display: inline;
							padding: 0;
							line-height: 1;
							background-color: transparent;
							background-image: linear-gradient(to right, #000 50%, transparent 50%);
							background-size: 200% 15px;
							background-repeat: no-repeat;
							background-position: 0% 2.5px;
						}
					}
					.name{
						color: $color-black-light;
						@include mq(){
							margin-top: 4px;
						}
						&-jp{
							font-family: $font-noto-san;
							font-weight: bold;
							@include font-size(18);
							margin-right: 16px;
							letter-spacing: 2px;
							@include mq(lg){
								margin-right: 10px;
							}
							@include mq(){
								@include font-size(12);
								margin-right: 12px;
								letter-spacing: -1px;
							}
						}
						&-en{
							font-family: $font-lato;
							@include font-size(12);
							font-weight: 700;
							letter-spacing: 0.5px;
							@include mq(){
								@include font-size(10);
								letter-spacing: 0;
							}
						}
					}
				}
				a{
					display: block;
				}
			}
		}
	}
}
.sec-message-interview{
	background: #f5f5f5;
	padding-top: 163px;
	padding-bottom: 203px;
	margin-top:285px;
	position: relative;
	@include mq(xl){
		margin-top: 200px;
		padding: 100px 0;
	}
	//@include mq(lg){
	//	padding: 100px 0;
	//}
	@include mq(){
		margin-top: 138px;
		padding-bottom: 52px;
		padding-top: 0;
		
	}
	.wp-message{
		max-width: 1510px;
		margin-right: auto;
		margin-left: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		@include mq(){
			justify-content: flex-start;
		}
		.img{
			width: 60.26%;
			//margin-top: -285px;
			margin-top: -30vh;
			@include mq(xl){
				margin-top: -20vh;
			}
			@include mq(lg){
				width: 100%;
				margin-bottom: 50px;
			}
			@include mq(){
				width: 83.46%;
				margin-top: -100px;
				margin-bottom: 38px;
			}
			img{
				width: 100%;
				display: block;
			}
		}
		.box-info{
			width: calc(100% - 60.26%);
			padding-left: 83px;
			padding-right: 35px;
			@include mq(xl){
				padding: 0 30px;
			}
			@include mq(lg){
				width: 100%;
				padding: 0 40px;
			}
			@include mq(){
				width: 100%;
				padding: 0 20px;
			}
			.ttl-message{
				@include font-size(60);
				font-family: $font-lato;
				font-weight: 900;
				color: $color-violet-dark;
				margin-bottom: 8px;
				letter-spacing: 5px;
				line-height: 1.5;
				@include mq(){
					@include font-size(30);
					display: flex;
					align-items: center;
					margin-bottom: 22px;
					letter-spacing: 2.5px;
				}
				.ttl-sub{
					@include font-size(16);
					font-family: $font-noto-san;
					font-weight: bold;
					color: $color-violet-dark;
					display: block;
					//margin-bottom: 57px;
					//margin-left: 4px;
					//margin-top: 10px;
					margin: 10px 0 57px 4px;
					letter-spacing: 0;
					line-height: 1;
					@include mq(){
						@include font-size(11);
						display: inline-block;
						margin-bottom: 0;
						margin-left: 22px;
					}
				}
			}
			
			.des{
				@include font-size(14);
				font-family: $font-noto-san;
				line-height: 2;
				color: $color-black-medium;
				margin-left: 4px;
				letter-spacing: -1px;
				@include mq(){
					@include font-size(13);
					margin-left: 0;
					line-height: 1.95;
					letter-spacing: 0;
				}
			}
		}
	}
	&.style2{
		margin-top: 0;
		padding-top: 182px;
		padding-bottom: 162px;
		@include mq(lg){
			padding-top: 0;
		}
		@include mq(){
			padding-top: 0;
			padding-bottom: 70px;
		}
		.img{
			margin-top: 0;
			//width: 1000px;
			width: 66.23%;
			@include mq(xl){
				width: 60%;
			}
			@include mq(lg){
				width: 100%;
			}
			@include mq(){
				width: 100%;
				margin-bottom: 0;
			}
		}
		.box-info{
			width: calc(100% - 66.23%);
			padding: 90px 0 0 65px;
			@media screen and (max-width: 1600px){
				padding-right: 15px;
				padding-top: 40px;
			}
			@include mq(xl){
				width: 40%;
				padding: 10px 15px 0 30px;
			}
			@include mq(lg){
				width: 100%;
			}
			@include mq(){
				width: 100%;
				padding: 30px 20px 50px;
			}
			.ttl-message{
				@include mq(){
					margin-bottom: 27px;
				}
				.ttl-sub{
					margin-top: 15px;
					margin-bottom: 40px;
					@include mq(xl){
						width: 40%;
						margin-bottom: 0px;
					}
					@include mq(){
						margin-top: 0;
						margin-left: 25px;
						margin-bottom: 0;
					}
				}
			}
			.des{
				letter-spacing: -0.5px;
				
			}
		}
	}
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
.xl{
	display: block;
	@include mq(xl){
		display: none;
	}
	@include mq(){
		display: block;
	}
}
.ip-5{
	@media screen and (max-width: 320px){
		display: none;
	}
}