.page-job{
	.bg-blue-light{
		background: #bbdff7;
		@include mq(){
			padding-top: 80px;
			padding-bottom: 65px;
		}
		.ttl_type01{
			@include mq(){
				letter-spacing: 3px;
			}
		}
		.mv-l{
			padding: 78px 0 0 15.6%;
			
			@include mq(xl) {
				width: 100%;
				padding: 0;
				margin-bottom: 36px;
			}
			@include mq(){
				margin-bottom: 25px;
			}
		}
	}
	.list-link{
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;
		@include mq(){
			margin-top: 32px;
		}
		li{
			margin-right: 20px;
			@include mq(){
				margin-right: 16px;
			}
			a{
				display: block;
				@include font-size(14);
				font-family: $font-lato;
				font-weight: bold;
				color: $color-black-light;
				letter-spacing: 2px;
				@include mq(){
					@include font-size(12);
					letter-spacing: 0;
				}
			}
		}
	}
	.sec-jobs{
		padding-top: 115px;
		padding-bottom: 150px;
		background: #f5f5f5;
		@include mq(){
			padding-top: 28px;
			padding-bottom: 108px;
		}
		.ttl-jobs{
			@include font-size(60);
			font-family: $font-lato;
			font-weight: 900;
			color: $color-violet-dark;
			margin-bottom: 75px;
			letter-spacing: 5px;
			display: flex;
			align-items: center;
			@include mq(){
				display: block;
				@include font-size(30);
				margin-bottom: 31px;
				letter-spacing: 2.5px;
				text-align: center;
			}
			.ttl-job-sub{
				@include font-size(16);
				font-family: $font-noto-san;
				font-weight: bold;
				color: $color-violet-dark;
				margin-left: 26px;
				letter-spacing: 0;
				@include mq(){
					@include font-size(11);
					display: block;
					margin-bottom: 0;
					margin-left: 0;
					
				}
			}
		}
		.list-position{
			.item-position{
				padding: 23px 40px 37px 40px;
				background: #3d3d3d;
				margin-bottom: 40px;
				@include mq(){
					padding: 20px;
					padding-bottom: 26px;
					margin-bottom: 20px;
				}
				&:last-child{
					margin-bottom: 0;
				}
				.ttl-position{
					@include font-size(50);
					font-family: $font-lato;
					font-weight: bold;
					color: #fff;
					margin-bottom: 30px;
					display: flex;
					align-items: center;
					padding-bottom: 25px;
					border-bottom: 1px solid #fff;
					letter-spacing: 1px;
					@include mq(lg){
						@include font-size(45);
					}
					@include mq(){
						display: block;
						@include font-size(28);
						margin-bottom: 22px;
						padding-bottom: 20px;
					}
					small{
						@include font-size(14);
						font-family: $font-noto-san;
						font-weight: bold;
						color: #fff;
						margin-left: 28px;
						letter-spacing: 0;
						@include mq(){
							@include font-size(11);
							display: block;
							margin-bottom: 0;
							margin-left: 0;
						}
					}
				}
				.des{
					@include font-size(14);
					font-family: $font-noto-san;
					color: #fff;
					line-height: 2;
					letter-spacing: -0.5px;
					@include mq(lg){
						letter-spacing: 0;
					}
					@include mq(){
						@include font-size(13);
						line-height: 1.9;
						letter-spacing: -1px;
					}
				}
			}
		}
	}
	
	.box-img-career{
		width: 100%;
		margin-top: 135px;
		@include mq(){
			margin-top: 0;
		}
	}
	.sec-career-story{
		padding-top: 120px;
		padding-bottom: 198px;
		background: #f5f5f5;
		@include mq(){
			padding-top: 48px;
			padding-bottom: 70px;
		}
		.ttl-career-story{
			text-align: center;
			@include font-size(40);
			font-family: $font-lato;
			font-weight: 900;
			color: $color-violet-dark;
			margin-bottom: 135px;
			letter-spacing: 4px;
			@include mq(){
				@include font-size(25);
				margin-bottom: 45px;
				letter-spacing: 2px;
			}
		}
		.list-career-story{
			.item-career-story{
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 88px;
				@include mq(){
					margin-bottom: 34px;
				}
				&:last-child{
					margin-bottom: 0;
				}
				.img{
					width: 43.64%;
					@include mq(){
						width: 100%;
						margin-bottom: 23px;
					}
				}
				.box-info{
					width: calc(100% - 43.64%);
					padding-left: 75px;
					padding-right: 66px;
					@include mq(lg){
						padding-left: 30px;
						padding-right: 30px;
					}
					@include mq(){
						padding-left: 0;
						padding-right: 0;
						width: 100%;
					}
					.case{
						color: $color-violet-dark;
						font-family: $font-lato;
						@include font-size(12);
						line-height: 1.3;
						font-weight: 900;
						display: block;
						letter-spacing: 1px;
						margin-bottom: 15px;
						margin-top: 2px;
						@include mq(){
							@include font-size(10);
							margin-bottom: 5px;
						}
					}
					.ttl-item{
						color: $color-violet-dark;
						font-family: $font-noto-san;
						@include font-size(20);
						font-weight: bold;
						margin-bottom: 32px;
						padding-bottom: 22px;
						border-bottom: 3px solid $color-violet-dark;
						letter-spacing: 1.5px;
						@include mq(){
							@include font-size(16);
							margin-bottom: 21px;
							padding-bottom: 13px;
							border-bottom: 2px solid $color-violet-dark;
							line-height: 2;
						}
					}
					.list-year{
						li{
							margin-bottom: 13px;
							display: flex;
							align-items: flex-start;
							&:last-child{
								margin-bottom: 0;
							}
							@include mq(){
								margin-bottom: 6px;
							}
							span{
								color: $color-black-light;
								display: block;
								line-height: 2;
								@include font-size(14);
								@include mq(){
									@include font-size(12);
								}
								&:first-child{
									position: relative;
									font-family: $font-lato;
									margin-right: 70px;
									font-weight: 600;
									@include mq(){
										margin-right: 56px;
									}
									&:after{
										content: '';
										display: block;
										width: 25px;
										height: 1px;
										background: #bbbbbb;
										position: absolute;
										top: 50%;
										right: -50px;
										@include mq(){
											width: 20px;
											right: -40px;
										}
									}
								}
								&:last-child{
									font-family: $font-noto-san;
									color: $color-black-light;
									display: inline-block;
									font-weight: 500;
								}
							}
						}
					}
				}
			}
		}
	}
}
.bg-white{
	background: #ffffff;
}