/* ====================================================
Base style & container
==================================================== */
body {
	color: #222;
	font-family: $font-noto-san;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	line-height: 1.4;
	&.fix{
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}

.inner {
	display: block;
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 20px;
}

.pc {
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.sp {
	@media screen and (min-width: 768px) {
		display: none;
	}
}
.txt-center{
	text-align: center;
}
.txt-right{
	text-align: right;
}
/* ====================================================
Float & clear
==================================================== */
.clearfix {
	*zoom: 1;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

/* ====================================================
Header
==================================================== */
#main-header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 36px 0;
	z-index: 10;
	@include mq{
		padding: 17px 0;
	}
	.inner{
		max-width: 100%;
		padding: 0 65px;
		display: flex;
		align-items: center;
		@include mq(lg){
			padding: 0 20px;
		}
	}
	.logo{
		margin-right: 78px;
		@include mq{
			position: relative;
			z-index: 10;
		}
		@include mq(lg){
			margin-right: 30px;
		}
		img{
			@include mq{
				max-width: 70px;
			}
		}
	}
	.navGlobal{
		@include mq{
			position: fixed;
			top: 0;
			left: -100%;
			opacity: 0;
			width: 100%;
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			padding-top: 113px;
			padding-bottom: 100px;
			background: #3d3d3d;
			pointer-events: none;
			&.open{
				left: 0;
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
	.navGlobalIn{
		display: flex;
		flex-wrap: wrap;
		margin-left: -18px;
		margin-right: -18px;
		li{
			@include mq{
				width: 100%;
			}
			a{
				font-weight: 900;
				@include font-size(16);
				line-height: 2;
				display: inline-block;
				padding: 0 18px;
				color:#222222;
				letter-spacing: 2px;
				font-family: $font-lato;
				@include mq{
					width: 100%;
					padding: 0 83px;
					margin-bottom: 4px;
					@include font-size(30);
					color:#fff;
				}
			}
		}
	}
}
.btn-menu{
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background: #3d3d3d;
	justify-content: center;
	padding-top: 17px;
	cursor: pointer;
	@include mq{
		display: flex;
	}
}
.menu{
	width: 18px;
	height: 12px;
	position: relative;
	transition: .5s ease-in-out;
	cursor: pointer;
	top: 0;
	right: 0;
	span{
		width: 18px;
		display: block;
		height: 1px;
		margin-bottom: 5px;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
		background: #989898;
		&:nth-child(1){
		}
		&:nth-child(2){
		}
		&:nth-child(3){
			margin-bottom: 0;
		}
	}
	&.open{
		span{
			&:nth-child(1){
				transform: rotate(45deg);
				position: absolute;
				top: 6px;
			}
			&:nth-child(2){
				display: none;
			}
			&:nth-child(3){
				transform: rotate(-45deg);
				position: absolute;
				top: 6px;
			}
		}
	}
}
/* ====================================================
Footer
==================================================== */
#main-footer{
	padding: 40px 0;
	background: #3d3d3d;
	@include mq{
		padding: 37px 0 8px;
	}
	.inner{
		max-width: 100%;
		padding: 0 57px 0 76px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.logo{
		display: flex;
		align-items: center;
		@include font-size(14);
		line-height: 1.4;
		width: 50%;
		font-family: $font-lato;
		font-weight: 500;
		color:#fff;
		@include mq{
			justify-content: center;
			margin-bottom: 42px;
			a{
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
			}
			img{
				max-width: 116px;
				margin-bottom: 18px;
			}
		}
		span{
			color:#fff;
			display: inline-block;
			margin-left: 28px;
			letter-spacing: 2.7px;
			@include mq{
				width: 100%;
				text-align: center;
				margin-left: 0;
				@include font-size(13);
			}
		}
		@include mq{
			width: 100%;
		}
	}
	.copyright{
		width: 50%;
		font-family: $font-lato;
		text-align: right;
		@include font-size(10);
		color:#999999;
		@include mq{
			width: 100%;
			text-align: center;
		}
	}
}
img{
	max-width: 100%;
}