/*
#overview
モジュールスタイルガイド

これはサイト全体に適用されるモジュールのパーツ群です。
必ずこちらのパーツを使用してコーディングするようにお願いします。
*/

/*
#colors
@背景色 #996600
@文字色 #333
@リンク #ccc
*/

/*
#styleguide
パンくずモジュール

パンくずのモジュールです。

@depulicated
@非推奨
@todo
@common

```
<div class="breadcrumb">
<a href='/'>トップページ</a> <i class='fa fa-angle-right' aria-hidden='true'></i> <span>ページ1</span>
</div>

```

*/

/*
#styleguide
見出しモジュール　識別子はttl

見出しモジュールは、セクションごとの見出しとなる要素（HTML5の分類で、「ヘッディングコンテンツ(Heading Content)」となるh1やh2などの要素、見出しとみなすことが出来そうなp要素の事です。
クラス名として識別子、「 ttl 」をつけて管理します。

```
<h1 class="ttlCom01"><span class="ttlCom01In">見出しモジュール</span></h1>
<h2 class="ttlCom02">見出しモジュール</h2>
<h3 class="ttlCom03">見出しモジュール</h3>

```

*/

/*
#styleguide
テキストモジュール　識別子はtxt

テキストモジュールは、p要素やテキストに該当するspan要素などのコンテンツ内の本文のことです。
基本的に、サイト内のテキストはテキストモジュールに該当します。クラス名として識別子「txt」をつけます。

```
<p class="txtBasic">テキストモジュール、識別子は～</p>

```

*/

/*
#styleguide
リンクモジュール　識別子はlink

リンクモジュールは、基本的にa要素のようにリンクが関係するモジュールの事です。クラス名として識別子「link」をつけます。
通常は、テキスト内にリンクが存在する場合にモジュールとして分ける事が多いです。

```
<a href="" class="linkCmn">OOCSS</a>

```

*/

/*
#styleguide
ボタンモジュール　識別子はbtn

ボタンモジュールは、見た目や役割がボタン上の要素の事です。クラス名をつける要素は特に指定はありませんが、button要素やa要素、a要素を囲むdiv要素に付与するパターンが多いです。
クラス名として識別子「btn」をつけます。

```
<div class="btn btnRed">ボタン</div>
<br>
<div class="btn btnBlue">ボタン</div>

```

*/

/*
#styleguide
リストモジュール　識別子はlist

リストモジュールは、リスト状の同じものが連続して並ぶものが該当します。基本的には、ul、ol、dl要素の様な明確にリスト分けされるものが該当しますが、div要素でも構いません。クラス名として識別子「list」をつけます。
また、クラス名を付与する場所はリストの親要素、つまり連続するリストの子要素がliだとすると、ul要素やol要素に識別子「list」を付与したクラス名をつけます。

```
<ul class="listOption">
	<li class="item">HTML</li>
	<li class="item">CSS</li>
	<li class="item">JavaScript</li>
</ul>

```

*/

/*
#styleguide
ボックスモジュール　識別子はbox

ボックスモジュールは、ボックス状のものが該当します。基本的には見出しやテキストなどの要素を含み込むボーダー付きの箱をボックスモジュールとしてみなします。クラス名として識別子「box」をつけます。

```
<div class="boxReading">
	<h2 class="ttlCom01">ボックスモジュールとは</h2>
		<p class="txtCom01">モジュールコーディングという考え方～</p>
		<a href="" class="linkCom01">続きを読む</a>
</div>

```

*/

/*
#styleguide
グリッドモジュール　識別子はgrid（子要素にはcol)

2カラムや3カラムなど、カラム分けするレイアウトのモジュールが該当します。識別子「grid」を付与します。
子要素には「col」を付与します。基本的に、親に「gridXXX」というメインクラスを付与して、「column-2」や「column-3」などカラム数と対応する数字込みのサブクラスを付与します。

```

<div class="gridCom column-3">
	<div class="col">
		<img class="imageCodingDetail" src="img/XXX.jpg">
	<h2 class="ttlCodingDetail">コーディングの秘訣その1</h2>
	<p class="txtCodingDetail">モジュールコーディングという考え方は～</p>
	</div>
	<div class="col">
		<img class="imageCodingDetail" src="img/XXX.jpg">
	<h2 class="ttlCodingDetail">コーディングの秘訣その1</h2>
	<p class="txtCodingDetail">モジュールコーディングという考え方は～</p>
	</div>
	<div class="col">
		<img class="imageCodingDetail" src="img/XXX.jpg">
	<h2 class="ttlCodingDetail">コーディングの秘訣その1</h2>
	<p class="txtCodingDetail">モジュールコーディングという考え方は～</p>
	</div>
</div>


```

*/

/*
#styleguide
FORMモジュール　

フォーム用の部品になります。

```

<form actione="">
<dl>
	<dt>テキスト</dt>
	<dd><input type="text" name="" value=""></dd>
	<dt>パスワード</dt>
	<dd><input type="password" name="passwd" value=""></dd>
	<dt>ラジオボタン</dt>
	<dd><input type="radio" name="" value="" checked="checked" />テスト1
	<input type="radio" name="" value="" />テスト2
	<input type="radio" name="" value="" />テスト3</dd>
	<dt>チェックボックス</dt>
	<dd><input type="checkbox" name="" value="" checked="checked" />テスト1
	<input type="checkbox" name="" value="" />テスト2
	<input type="checkbox" name="" value="" checked="checked" />テスト3</dd>
	<dt>プルダウン</dt>
	<dd><select name="">
	<option value="" selected="selected">テスト1</option>
	<option value="">テスト2</option>
	<option value="">テスト3</option>
	</select></dd>
	<dt>テキストエリア</dt>
	<dd><textarea name="" rows="5" cols="20">テキストエリア</textarea></dd>
</dl>
<div>
	<input type="button" name="btn1" value="汎用ボタン">
	<input type="reset" name="btn2" value="リセット" >
	<input type="submit" name="btn3" value="送信" >
</div>
</form>


```

*/

/* ====================================================
MODULE
==================================================== */

/*パンくずMODULE*/

.breadcrumb {
	
}

/*見出しMODULE*/
.ttlCom01 {
	
}

.ttlCom02 {
	
}

.ttlCom03 {
	
}
.ttl_type01{
	font-weight: 900;
	color:#222;
	@include font-size(100);
	line-height: 1.1;
	text-align: left;
	letter-spacing: 10px;
	font-family: $font-lato;
	@include mq(xl){
		@include font-size(70);
	}
	@include mq{
		@include font-size(41);
		letter-spacing: 6px;
	}
	@include mq(sm-ip){
		@include font-size(30);
	}
}
.ttl_type02{
	font-weight: 900;
	@include font-size(80);
	letter-spacing: 3px;
	line-height: 1.2;
	font-family: $font-lato;
	@include mq(xl){
		@include font-size(50);
	}
	@include mq{
		@include font-size(35);
		letter-spacing: 0;
	}
}
/*テキストMODULE*/
.txtBasic{
	
}
.txt-center {
	text-align: center;
}

.txt-right {
	text-align: right;
}

.txt-left {
	text-align: left;
}
.txtBase{
	@include font-size(14);
	line-height: 2;
	@include mq{
		@include font-size(13);
		line-height: 1.93;
	}
}

a{
	text-decoration: none;
	transition: 0.3s;
	&:hover{
		opacity: .7;
	}
}
/*リンクMODULE*/
.linkCmn {
	
}

/*ボタンMODULE*/
.btn {
	width: 100px;
	height: 50px;
	border: 2px solid #FFCCCC;
	text-align: center;
	line-height: 50px;
	
}
.btn_type01{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 115px;
	height: 115px;
	background: #ed0084;
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	font-family: $font-lato;
	@include font-size(20);
	line-height: 1;
	color:#fff;
	&.hide{
		display: none;
	}
	@include mq{
		width: 50px;
		height: 50px;
		@include font-size(10);
		right: 50px;
	}
}
.btn_type02{
	border:solid 2px #222222;
	color:#222;
	padding:22px 10px;
	position: relative;
	font-weight: 900;
	@include font-size(14);
	line-height: 1;
	text-align: center;
	min-width: 260px;
	display: inline-block;
	font-family: $font-lato;
	&:after{
		content:"";
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		width: 20px;
		height: 2px;
		background: #222222;
	}
	@include mq{
		@include font-size(13);
		width: 100%;
	}
}
.btn_type03{
	width: 100%;
	@include font-size(14);
	color:#fff;
	font-weight: 900;
	padding: 45px 10px;
	letter-spacing: 2px;
	position: relative;
	text-align: center;
	display: inline-block;
	background: #222222;
	font-family: $font-lato;
	&:after{
		content:"";
		position: absolute;
		top: 50%;
		right: 30px;
		transform: translateY(-50%);
		width: 20px;
		height: 2px;
		background: #fff;
	}
	@include mq{
		padding: 21px 10px;
		&:after{
			right: 20px;
		}
	}
	&.style02{
		max-width: 700px;
		padding-top: 38px;
		padding-bottom: 38px;
		@include font-size(18);
		&:after{
			width: 1px;
			height: 50px;
			top:-60px;
			bottom:auto;
			left: 50%;
			right:auto;
			background: #222222;
		}
		@include mq{
			@include font-size(13);
			max-width: 280px;
			padding-top: 21px;
			padding-bottom: 21px;
			&:after{
				height: 25px;
				top: -31px;
			}
		}
	}
	@include mq{
		@include font-size(13);
	}
}
.btnRed {
	color: red;
	background-color: #FFCCCC;
}

.btnBlue {
	color: white;
	border-color: blue;
	background-color: blue;
}

/*リストMODULE*/
.listOption {
	
}

/*ボックスMODULE*/
.boxReading{
	
}

/*グリッドMODULE*/
.gridCom {
	
}

/*フォームMODULE*/
.dl.form dl,dt,dd {
	
}
