<footer id="main-footer">
	<div class="inner">
		<div class="logo">
			<a href="#"><img src="<%= RELATIVE_PATH %>img/common/logo-02.png" alt="">
				<span>RECRUITMENT</span></a>
		</div>
		<p class="copyright">Copyright &#169; 2019 ANAP All rights reserved.</p>
	</div>
</footer>