<header id="main-header">
	<div class="inner">
		<div class="logo">
			<a href="/"><img src="<%= RELATIVE_PATH %>img/common/logo.png" alt="ANAP"></a>
		</div>
		<nav class="navGlobal">
			<ul class="navGlobalIn">
				<li><a href="#">ABOUT ANAP</a></li>
				<li><a href="#">INTERVIEW</a></li>
				<li><a href="#">JOBS</a></li>
				<li class="sp"><a href="#">ENTRY</a></li>
			</ul>
		</nav>
		<a href="#" class="btn_type01"><span>ENTRY</span></a>
		<div class="btn-menu sp">
			<a href="#" class="menu">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
	</div>
</header>