<div class=" main-page page-<%= pageData.template %>" id="index">
	<section class="main-visual02">
		<div class="mv-l">
			<h1 class="ttl_type01">ABOUT ANAP</h1>
		</div>
		<div class="img pc">
			<img src="<%= RELATIVE_PATH%>img/about/mv.jpg" alt="INTERVIEW">
		</div>
		<div class="img sp">
			<img src="<%= RELATIVE_PATH%>img/about/mv-sp.jpg" alt="INTERVIEW">
		</div>
	</section>
	<section class="sec-message02">
		<div class="inner">
			<h2 class="ttl_custom02">
				MESSAGE
				<small>
					メッセージ
				</small>
			</h2>
			<div class="box-message">
				<h3 class="ttl">
					We are ANAP!
				</h3>
				<p class="des">
					好きなことを、好きなようにできる。<br class="sp">ってとても幸せなことだと思います。<br>
					そんな幸せを感じながら働いている人々の集団、それがANAPです。
				</p>
				<p>
					生まれも育ちも、性格も、みんな違う。<br>
					でも、ファッションが好き、ANAPが好き、<br>
					その思いはいっしょです。<br>
					上からの指示がなければ動けない、そんなキュウクツな会社とは正反対。<br>
					ここには、みんなが主役になって活躍できる、自由な環境があります。<br>
					スタッフ一人ひとりの情熱、個性。それがANAPを大きく育てるチカラ。<br>
					これからもANAP、人をまんなかに、<br>
					ファッションを愛するたくさんの人々に愛される企業をめざしていきます。
				</p>
			</div>
		</div>
	</section>
	<section class="sec-benefits">
		<div class="benefits-head">
			<div class="img pc">
				<img src="<%= RELATIVE_PATH %>img/about/img01.png" alt="">
			</div>
			<div class="img sp">
				<img src="<%= RELATIVE_PATH %>img/about/img01-sp.png" alt="">
			</div>
			<h2 class="ttl_custom02">
				BENEFITS
				<small>
					福利厚生
				</small>
			</h2>
		</div>
		<div class="inner">
			<div class="list-benefits">
				<div class="item">
					<h3 class="ttl_custom03">
						社員割引制度
					</h3>
					<p>
						当社商品であれば社員割引で購入可能です。お得にANAPの服が買うことができ、ファッションを大いに楽しむことができます！
					</p>
				</div>
				<div class="item">
					<h3 class="ttl_custom03">
						報奨金制度
					</h3>
					<p>
						年に数回店舗スタッフを対象に報奨金のイベントを開催しています。頑張った人を正当に評価します！
					</p>
				</div>
				<div class="item">
					<h3 class="ttl_custom03">
						昇給制度
					</h3>
					<p>
						時給アルバイトは半年に1回。正社員は年に1回昇給制度があります。
					</p>
				</div>
				<div class="item">
					<h3 class="ttl_custom03">
						ボーナス年2回
					</h3>
					<p>
						アルバイトを含めた全社員対象にボーナスを年2回支給しています。
					</p>
				</div>
				<div class="item">
					<h3 class="ttl_custom03">
						社会保険完備
					</h3>
					<p>
						週20時間以上で雇用保険に加入。週30時間以上で社会保険に加入。安心して働いていただけます！
					</p>
				</div>
				<div class="item">
					<h3 class="ttl_custom03">
						産休育休制度
					</h3>
					<p>
						取得実績も多数！アルバイト従業員も含め産休育休の制度を利用可能です。（規定あり）
					</p>
				</div>
			</div>
		</div>
	</section>
	
	<section class="sec-date">
		<div class="inner">
			<h2 class="ttl_custom02">
				DATE
				<small>
					データで見るANAP
				</small>
			</h2>
			
			<div class="group-date">
				<div class="item">
					<h3 class="ttl_custom04">
						男女比
					</h3>
					<div class="content">
						<div class="wrap">
							<img src="<%= RELATIVE_PATH %>img/about/img02.png" alt="男女比" width="276">
							<p class="ratio">
								<span>1</span> : <span>9</span>
							</p>
							<p class="real">
								<span>男性:33名</span>
								<span>女性:266名</span>
							</p>
						</div>
					</div>
				</div>
				
				<div class="item">
					<h3 class="ttl_custom04">
						年齢分布
					</h3>
					<div class="content">
						<div class="wrap chart">
							<div class="container">
								<div class="bars">
									<div id="H-bar-1">
									</div>
									<div id="H-bar-2">
									</div>
									<div id="H-bar-3">
									</div>
									<div id="H-bar-4">
									</div>
									<div id="H-bar-5">
									</div>
									<div id="H-bar-6">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="item">
					<h3 class="ttl_custom04">
						勤続年数
					</h3>
					<div class="content">
						<div class="wrap chart">
							<div class="container">
								<div class="bars">
									<div id="H1-bar-1">
									</div>
									<div id="H1-bar-2">
									</div>
									<div id="H1-bar-3">
									</div>
									<div id="H1-bar-4">
									</div>
									<div id="H1-bar-5">
									</div>
									<div id="H1-bar-6">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="item">
					<h3 class="ttl_custom04">
						有給消化率
					</h3>
					<div class="content">
						<div class="wrap">
							<p class="circle">
								<span>
									79
								</span>%
							</p>
						</div>
					</div>
				</div>
				
				<div class="item">
					<h3 class="ttl_custom04">
						産休・育休取得中従業員数
					</h3>
					<div class="content">
						<div class="wrap">
							<img src="<%= RELATIVE_PATH %>img/about/img05.png" alt="" width="92">
							
							<p class="maternity">
								<span>22</span>名
							</p>
							<p>
								全体:<span>299</span>名
							</p>
						</div>
					</div>
				</div>
				
				<div class="item">
					<h3 class="ttl_custom04">
						月々の洋服代（平均）
					</h3>
					<div class="content">
						<div class="wrap">
							<img src="<%= RELATIVE_PATH %>img/about/img06.png" alt="" width="178">
							
							<p class="maternity">
								<span>27,443</span>名
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="sec-entry">
		<div class="inner">
			<div class="entry">
				<h2 class="ttl_type02">ENTRY</h2>
				<p class="txtBase">募集要項や選考フローなどはこちらから。<br class="sp">皆様のご応募お待ちしております。</p>
				<div class="txt-center">
					<a href="#" class="btn_type03 style02">ENTRY</a>
				</div>
			</div>
		</div>
	</section>
</div>