<div class=" main-page page-<%= pageData.template %>" id="index">
	<section class="main-visual">
		<div class="inner">
			<div class="pc"><img src="<%= RELATIVE_PATH%>img/index/mv-img.png" alt="ANAPRECRUITMENT"></div>
			<div class="sp">
				<img src="<%= RELATIVE_PATH%>img/index/mv-img-sp.png" alt="ANAPRECRUITMENT">
			</div>
			<h1 class="ttl_type01">ANAP<br>
				RECRUITMENT</h1>
		</div>
		<div class="txt-center btn-scrool">
			<a href="#01" class="scroll link">scroll <br>
				<b></b>
			</a>
		</div>
	</section>
	<section class="sec-about" id="01">
		<div class="wrap about">
			<div class="about_img pc">
				<img src="<%= RELATIVE_PATH%>img/index/img-01.jpg" alt="ABOUT ANAP">
			</div>
			<div class="about_content">
				<h2 class="ttl_type02">ABOUT ANAP</h2>
				<p class="txt-des">スタッフ一人ひとりの情熱、個性。<br>
					それがAＮAPを大きく育てるチカラ。</p>
				<div class="sp">
					<img src="<%= RELATIVE_PATH%>img/index/img-01-sp.jpg" alt="ABOUT ANAP">
				</div>
				<p class="txtBase">
					ＡＮＡＰには、みんなが主役になって活躍できる、自由な環境があります。<br>
					生まれも育ちも、性格も、みんな違う。<br class="pc">
					でも、ファッションが好き、ＡＮＡＰが好き、その思いはいっしょです。<br>
					そんなＡＮＡＰについて、様々な角度からご紹介します。
				</p>
				<a href="#" class="btn_type02">READ MORE</a>
			</div>
		</div>
	</section>
	<section class="sec-interview">
		<div class="inner">
			<h2 class="ttl_type02">INTERVIEW</h2>
			<div class="list-interview">
				<div class="item-interview">
					<a href="#">
						<div class="pc"><img src="<%= RELATIVE_PATH%>img/index/img-02.jpg" alt="店長"></div>
						<div class="sp"><img src="<%= RELATIVE_PATH%>img/index/img-02-sp.jpg" alt="店長"></div>
						<div class="info">
							<span class="label">店長</span><br>
							<p>嶋野 加苗<span>SHIMANO KANAE</span></p>
						</div>
					</a>
				</div>
				<div class="item-interview">
					<a href="#">
						<div class="pc"><img src="<%= RELATIVE_PATH%>img/index/img-03.jpg" alt="店舗マネージャーP"></div>
						<div class="sp"><img src="<%= RELATIVE_PATH%>img/index/img-03-sp.jpg" alt="店舗マネージャーP"></div>
						<div class="info">
							<span class="label">店舗マネージャー</span><br>
							<p>伊藤 寧音<span>ITO NEON</span></p>
						</div>
					</a>
			
				</div>
				<div class="item-interview">
					<a href="#">
						<div class="pc"><img src="<%= RELATIVE_PATH%>img/index/img-04.jpg" alt="ビジュアルマーチャダイジング"></div>
						<div class="sp"><img src="<%= RELATIVE_PATH%>img/index/img-04-sp.jpg" alt="ビジュアルマーチャダイジング"></div>
						<div class="info">
							<span class="label">ビジュアルマーチャダイジング</span><br>
							<p>横山 和希<span>YOKOYAMA KAZUKI</span></p>
						</div>
					</a>
				</div>
			</div>
			<a href="#" class="btn_type03">READ ALL</a>
		</div>
	</section>
	<section class="sec-job">
		<div class="inner">
			<div class="job">
				<div class="job_content">
					<h2 class="ttl_type02">JOBS</h2>
					<div class="sp">
						<img src="<%= RELATIVE_PATH%>img/index/img-05-sp.jpg" alt="ビジュアルマーチャダイジング">
					</div>
					<p class="txtBase">
						詳しい仕事内容やキャリアステップについてご紹介します。<br>
						自分の頑張り次第でいろんな道が開くことができる、<br>
						そんな環境がＡＮＡＰにはあります。
					</p>
					<a href="#" class="btn_type02">READ ALL</a>
				</div>
				<div class="job_img pc">
					<img src="<%= RELATIVE_PATH%>img/index/img-05.jpg" alt="ビジュアルマーチャダイジング">
				</div>
			</div>
		</div>
	</section>
	<section class="sec-entry">
		<div class="inner">
			<div class="entry">
				<h2 class="ttl_type02">ENTRY</h2>
				<p class="txtBase">募集要項や選考フローなどはこちらから。<br class="sp">皆様のご応募お待ちしております。</p>
				<div class="txt-center">
					<a href="#" class="btn_type03 style02">ENTRY</a>
				</div>
			</div>
		</div>
	</section>
</div>