<div class=" main-page page-<%= pageData.template %>" id="index">
	<section class="main-visual02">
		<div class="mv-l">
			<h1 class="ttl_type01">INTERVIEW</h1>
		</div>
		<div class="img pc">
			<img src="<%= RELATIVE_PATH%>img/interview/mv.jpg" alt="INTERVIEW">
		</div>
		<div class="img sp">
			<img src="<%= RELATIVE_PATH%>img/interview/mv-sp.jpg" alt="INTERVIEW">
		</div>
	</section>
	<section class="sec-interview">
		<div class="inner">
			<div class="list-interview">
				<div class="item-interview">
					<h2 class="ttl_custom01">
						STORE <br>MANAGER
					</h2>
					<a href="#">
						<div class="img pc"><img src="<%= RELATIVE_PATH%>img/interview/img01.png" alt="店長嶋野 加苗 SHIMANO KANAE"></div>
						<div class="img sp"><img src="<%= RELATIVE_PATH%>img/interview/img01-sp.png" alt="店長嶋野 加苗 SHIMANO KANAE"></div>
						<div class="info">
							<span class="label">店長</span><br>
							<p>嶋野 加苗<span>SHIMANO KANAE</span></p>
						</div>
					</a>
				</div>
				<div class="item-interview">
					<h2 class="ttl_custom01">
						AREA <br>MANAGER
					</h2>
					<a href="#">
						<div class="img pc"><img src="<%= RELATIVE_PATH%>img/interview/img02.png" alt="店舗マネージャー伊藤 寧音 ITO NEON"></div>
						<div class="img sp"><img src="<%= RELATIVE_PATH%>img/interview/img02-sp.png" alt="店舗マネージャー伊藤 寧音 ITO NEON"></div>
						<div class="info">
							<span class="label">店舗マネージャー</span><br>
							<p>伊藤 寧音<span>ITO NEON</span></p>
						</div>
					</a>
				</div>
				<div class="item-interview">
					<h2 class="ttl_custom01">
						VISUAL <br>
						MERCHA DISING
					</h2>
					<a href="#">
						<div class="img pc"><img src="<%= RELATIVE_PATH%>img/interview/img03.png" alt="ビジュアルマーチャダイジング横山 和希 YOKOYAMA KAZUKI"></div>
						<div class="img sp"><img src="<%= RELATIVE_PATH%>img/interview/img03-sp.png" alt="ビジュアルマーチャダイジング横山 和希 YOKOYAMA KAZUKI"></div>
						<div class="info">
							<span class="label">ビジュアルマーチャダイジング</span><br>
							<p>横山 和希<span>YOKOYAMA KAZUKI</span></p>
						</div>
					</a>
				</div>
				<div class="item-interview">
					<h2 class="ttl_custom01">
						DESIGNER
					</h2>
					<a href="#">
						<div class="img pc"><img src="<%= RELATIVE_PATH%>img/interview/img04.png" alt="商品企画 / デザイン石塚 裕江 ISHIZUKA HIROE"></div>
						<div class="img sp"><img src="<%= RELATIVE_PATH%>img/interview/img04-sp.png" alt="商品企画 / デザイン石塚 裕江 ISHIZUKA HIROE"></div>
						<div class="info">
							<span class="label">商品企画 / デザイン</span><br>
							<p>石塚 裕江<span>ISHIZUKA HIROE</span></p>
						</div>
					</a>
				</div>
				<div class="item-interview">
					<h2 class="ttl_custom01">
						BUYER
					</h2>
					<a href="#">
						<div class="img pc"><img src="<%= RELATIVE_PATH%>img/interview/img05.png" alt="商品企画 / バイヤー土舘 葵 TODATE AOI"></div>
						<div class="img sp"><img src="<%= RELATIVE_PATH%>img/interview/img05-sp.png" alt="商品企画 / バイヤー土舘 葵 TODATE AOI"></div>
						<div class="info">
							<span class="label">商品企画 / バイヤー</span><br>
							<p>土舘 葵<span>TODATE AOI</span></p>
						</div>
					</a>
				</div>
				<div class="item-interview">
					<h2 class="ttl_custom01">
						OPERATING STAFF
					</h2>
					<a href="#">
						<div class="img pc"><img src="<%= RELATIVE_PATH%>img/interview/img06.png" alt="自社オンラインショップ運営橋本 栞里 HASHIMOTO SHIORI"></div>
						<div class="img sp"><img src="<%= RELATIVE_PATH%>img/interview/img06-sp.png" alt="自社オンラインショップ運営橋本 栞里 HASHIMOTO SHIORI"></div>
						<div class="info">
							<span class="label">自社オンラインショップ運営</span><br>
							<p>橋本 栞里<span>HASHIMOTO SHIORI</span></p>
						</div>
					</a>
				</div>
				<div class="item-interview">
					<h2 class="ttl_custom01">
						STYLIST
					</h2>
					<a href="#">
						<div class="img pc"><img src="<%= RELATIVE_PATH%>img/interview/img07.png" alt="自社オンラインショップ撮影加工 / スタイリスト下鳥 祐佳 SHIMOTORI YUKA"></div>
						<div class="img sp"><img src="<%= RELATIVE_PATH%>img/interview/img07-sp.png" alt="自社オンラインショップ撮影加工 / スタイリスト下鳥 祐佳 SHIMOTORI YUKA"></div>
						<div class="info">
							<span class="label">自社オンラインショップ撮影加工 / スタイリスト</span><br>
							<p>下鳥 祐佳<span>SHIMOTORI YUKA</span></p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</div>