<div class=" main-page page-<%= pageData.template %>" id="index">
	<!--<section class="main-visual main-visual-page">-->
		<!--<div class="inner">-->
			<!--<div class="main-visual-page-info">-->
				<!--<h1 class="main-visual-ttl">STORE <br class="xl">MANAGER</h1>-->
				<!--<div class="pc"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-mv.jpg" alt="STORE MANAGER"></div>-->
				<!--<div class="sp"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-mv-sp.jpg" alt="STORE MANAGER"></div>-->
				<!--<span class="tag">店長</span>-->
				<!--<div class="name">-->
					<!--<span class="name-jp">嶋野 加苗</span>-->
					<!--<span class="name-en">SHIMANO KANAE</span>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</section>-->
	<section class="main-visual02 main-visual-page">
		<div class="mv-l">
			<h1 class="ttl_type01 main-visual-ttl">STORE <br class="xl">MANAGER</h1>
			<div class="img sp">
				<img src="<%= RELATIVE_PATH%>img/interview/detail/img-mv-sp.jpg" alt="STORE MANAGER">
			</div>
			<div class="box-info">
				<span class="tag">店長</span>
				<div class="name">
					<span class="name-jp">嶋野 加苗</span>
					<span class="name-en">SHIMANO KANAE</span>
				</div>
			</div>
		</div>
		<div class="img pc">
			<img src="<%= RELATIVE_PATH%>img/interview/detail/img-mv.jpg" alt="STORE MANAGER">
		</div>
	</section>
	<section class="sec-list-number">
		<div class="inner">
			<div class="flex">
				<div class="item">
					<span class="tag-number">#01</span>
					<h2 class="ttl-item">やりがいを感じるのはどんな時ですか？</h2>
					<div class="box-des">
						ＡＮＡＰというブランドやお店で働くスタッフのファンとなってくださっているお客様が来店された時や、お客様に自分の顔や名前を覚えてもらった時に販売員としてのやりがいをとても感じています。店長としては、売上予算をスタッフ全員で協力して達成した時にどんな疲れも吹き飛ぶくらいの達成感とやりがいを得られます！！
					</div>
				</div>
				<div class="item">
					<span class="tag-number">#02</span>
					<h2 class="ttl-item">自分自身成長していると感じる時は<br class="sp">どんな時ですか？</h2>
					<div class="box-des">
						後輩たちが成長してる姿を見ると、自分自身も店長として成長できているのかなと感じます。また、マネージャーからの指示待ちをするのではなく、自ら考えて行動したことを認めてもらえた時に成長したと感じます。
					</div>
				</div>
			</div>
			<div class="box-img">
				<div class="pc"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-01.jpg" alt="嶋野 加苗 SHIMANO KANAE"></div>
				<div class="sp"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-01-sp.jpg" alt="嶋野 加苗 SHIMANO KANAE"></div>
			</div>
			<div class="flex">
				<div class="item">
					<span class="tag-number">#03</span>
					<h2 class="ttl-item">仕事をする上で<br class="sp">大事にしていることは何ですか？</h2>
					<div class="box-des">
						ＡＮＡＰのお店は1人では運営はできません。<br class="pc">
						本社のスタッフや、マネージャー、そして後輩、ＡＮＡＰで一緒に働いている仲間と信頼関係を築くことが大事だと思っています。
					</div>
				</div>
				<div class="item">
					<span class="tag-number">#04</span>
					<h2 class="ttl-item">ＡＮＡＰの魅力を教えてください！</h2>
					<div class="box-des">
						ＡＮＡＰには個性を活かせる環境があります。みんなのマインドがギャルです！笑<br class="pc">
						楽しいことが好き、イベントが好きという気持ちを先輩方も後輩たちも同じように思っているところが大好きです！！
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-message-interview">
		<div class="wp-message">
			<div class="img">
				<div class="pc"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-02.png" alt="嶋野 加苗 SHIMANO KANAE"></div>
				<div class="sp"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-02-sp.jpg" alt="嶋野 加苗 SHIMANO KANAE"></div>
			</div>
			<div class="box-info">
				<h2 class="ttl-message">
					MESSAGE
					<small class="ttl-sub">入社を希望する方へ</small>
				</h2>
				<div class="des">同世代の仲間と一緒に、苦しいことや、それを忘れるくらい楽しいことやうれしいことを共有して、みんなで一緒に成長できる環境がＡＮＡＰにはあります！一緒に大人の青春をしましょう！</div>
			</div>
		</div>
	</section>
	<section class="sec-other-interview">
		<div class="inner">
			<h2 class="ttl-other-interview">OTHER INTERVIEW</h2>
			<div class="list-other-interview">
				<div class="item">
					<a href="#">
						<div class="flex">
							<div class="img">
								<div class="pc"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-03.jpg" alt="店舗マネージャー伊藤 寧音 ITO NEON"></div>
								<div class="sp"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-03-sp.jpg" alt="店舗マネージャー伊藤 寧音 ITO NEON"></div>
							</div>
							<div class="box-info">
								<span class="tag">店舗マネージャー</span>
								<div class="name">
									<span class="name-jp">伊藤 寧音</span>
									<span class="name-en">ITO NEON</span>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="flex">
							<div class="img">
								<div class="pc"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-04.jpg" alt="ビジュアルマーチャダイジング横山 和希 YOKOYAMA KAZUKI"></div>
								<div class="sp"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-04-sp.jpg" alt="ビジュアルマーチャダイジング横山 和希 YOKOYAMA KAZUKI"></div>
							</div>
							<div class="box-info">
								<span class="tag">ビジュアルマーチャダイジング</span>
								<div class="name">
									<span class="name-jp">横山 和希</span>
									<span class="name-en">YOKOYAMA KAZUKI</span>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="flex">
							<div class="img">
								<div class="pc"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-05.jpg" alt="商品企画 / デザイン石塚 裕江 ISHIZUKA HIROE"></div>
								<div class="sp"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-05-sp.jpg" alt="商品企画 / デザイン石塚 裕江 ISHIZUKA HIROE"></div>
							</div>
							<div class="box-info">
								<span class="tag">商品企画 / デザイン</span>
								<div class="name">
									<span class="name-jp">石塚 裕江</span>
									<span class="name-en">ISHIZUKA HIROE</span>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="flex">
							<div class="img">
								<div class="pc"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-06.jpg" alt="商品企画 / バイヤー土舘 葵 TODATE AOI"></div>
								<div class="sp"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-06-sp.jpg" alt="商品企画 / バイヤー土舘 葵 TODATE AOI"></div>
							</div>
							<div class="box-info">
								<span class="tag">商品企画 / バイヤー</span>
								<div class="name">
									<span class="name-jp">土舘 葵</span>
									<span class="name-en">TODATE AOI</span>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="flex">
							<div class="img">
								<div class="pc"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-07.jpg" alt="自社オンラインショップ運営橋本 栞里 HASHIMOTO SHIORI"></div>
								<div class="sp"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-07-sp.jpg" alt="自社オンラインショップ運営橋本 栞里 HASHIMOTO SHIORI"></div>
							</div>
							<div class="box-info">
								<span class="tag">自社オンラインショップ運営</span>
								<div class="name">
									<span class="name-jp">橋本 栞里</span>
									<span class="name-en">HASHIMOTO SHIORI</span>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="item">
					<a href="#">
						<div class="img">
							<div class="pc"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-08.jpg" alt="自社オンラインショップ撮影加工 / スタイリスト下鳥 祐佳 SHIMOTORI YUKA"></div>
							<div class="sp"><img src="<%= RELATIVE_PATH%>img/interview/detail/img-08-sp.jpg" alt="自社オンラインショップ撮影加工 / スタイリスト下鳥 祐佳 SHIMOTORI YUKA"></div>
						</div>
						<div class="box-info">
							<span class="tag">自社オンラインショップ撮影加工 / <br class="sp ip-5">スタイリスト</span>
							<div class="name">
								<span class="name-jp">下鳥 祐佳</span>
								<span class="name-en">SHIMOTORI YUKA</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-entry">
		<div class="inner">
			<div class="entry">
				<h2 class="ttl_type02">ENTRY</h2>
				<p class="txtBase">募集要項や選考フローなどはこちらから。皆様のご応募お待ちしております。</p>
				<div class="txt-center">
					<a href="#" class="btn_type03 style02">ENTRY</a>
				</div>
			</div>
		</div>
	</section>
</div>