<div class=" main-page page-<%= pageData.template %>" id="index">
	<section class="main-visual02 bg-blue-light">
		<div class="mv-l">
			<h1 class="ttl_type01">JOBS</h1>
			<ul class="list-link">
				<li><a href="#jobs">01.JOBS</a></li>
				<li><a href="#career">02.CAREER</a></li>
			</ul>
		</div>
		<div class="img pc">
			<img src="<%= RELATIVE_PATH%>img/job/img-mv.jpg" alt="JOBS">
		</div>
		<div class="img sp">
			<img src="<%= RELATIVE_PATH%>img/job/img-mv-sp.jpg" alt="JOBS">
		</div>
	</section>
	<section class="sec-jobs">
		<div class="inner">
			<h2 class="ttl-jobs">
				JOBS
				<small class="ttl-job-sub">仕事内容</small>
			</h2>
			<ul class="list-position">
				<li class="item-position">
					<h3 class="ttl-position">
						STORE MANAGER
						<small>店長職</small>
					</h3>
					<p class="des">店舗での接客販売、売上管理、在庫管理などの業務を行う。店長としてスタッフを教育、サポートし、みんなをリードする。</p>
				</li>
				<li class="item-position">
					<h3 class="ttl-position">
						AREA MANAGER
						<small>店舗マネージャー</small>
					</h3>
					<p class="des">店舗スタッフのマネジメントをしながら、各店舗への販売戦略の落とし込みや、店内レイアウトの構成補助を行う。店舗と本社の架け橋となるような存在。</p>
				</li>
				<li class="item-position">
					<h3 class="ttl-position">
						VMD
						<small>ビジュアルマーチャダイジング</small>
					</h3>
					<p class="des">魅力的なショップを作り上げる仕掛け人。商品の数量や価格、特性やイメージを的確にとらえ消費者のニーズに合わせて訴求していく役割。常にお客様の視点に立ち、商品が見やすい、買いやすい売り場を目指す。</p>
				</li>
				<li class="item-position">
					<h3 class="ttl-position">
						DESIGNER
						<small>商品企画 / デザイナー</small>
					</h3>
					<p class="des">取引先との商談や市場調査に赴きながら、関係部署と話し合いをし、組み立てた商品構成を元に作成するアイテムを決定する。デザイン案を考え、仕様書を作成、サンプルを制作したのちプレゼンテーションする。発注後の納品までのサンプルチェックや、検品作業も行う。</p>
				</li>
				<li class="item-position">
					<h3 class="ttl-position">
						BUYER
						<small>商品企画 / バイヤー</small>
					</h3>
					<p class="des">1～2ヵ月に1回のペースで海外出張へ行き、洋服や小物の買付けをする。日本では、メーカーの展示会へ行ったり、プリントや刺繍などのデザインを考えOEMで商品制作を依頼。その他にも、入荷間近の商品の検品や在庫管理などの事務作業も行う。</p>
				</li>
				<li class="item-position">
					<h3 class="ttl-position">
						OPERATING STAFF
						<small>自社オンラインショップ運営</small>
					</h3>
					<p class="des">オンラインショップの運営・制作スタッフとして、主にお客様に配信するメルマガやバナーの制作、Twitter・FacebookなどのSNSの更新作業を行う。</p>
				</li>
				<li class="item-position">
					<h3 class="ttl-position">
						STYLIST
						<small>自社オンラインショップ撮影加工 / スタイリスト</small>
					</h3>
					<p class="des">MDの意見を元に、モデルが着用する洋服のコーディネートや撮影イメージを考える。その後、撮影スケジュールの調整やモデルの選定をし、実際に撮影に立ち会う。</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-message-interview style2 bg-white">
		<div class="wp-message">
			<div class="img">
				<div class="pc"><img src="<%= RELATIVE_PATH%>img/job/img-01.jpg" alt="CAREER"></div>
				<div class="sp"><img src="<%= RELATIVE_PATH%>img/job/img-01-sp.jpg" alt="CAREER"></div>
			</div>
			<div class="box-info">
				<h2 class="ttl-message">
					CAREER
					<small class="ttl-sub">キャリア</small>
				</h2>
				<div class="des">
					現在、本部で働くスタッフも元々は店舗のスタッフだった方がたくさんいます。それだけ店舗で身につけたスキルを大切にして、その後に活かしているのです。<br>
					アルバイトで入社後、平均すると、1年～1年半で正社員に昇格しています。中には、最短3ヶ月で正社員として活躍しているスタッフもいます。
				</div>
			</div>
		</div>
		
		<div class="box-img-career">
			<div class="inner">
				<div class="pc"><img src="<%= RELATIVE_PATH%>img/job/career_step_jpg.jpg" alt="CAREER STEP"></div>
				<div class="sp"><img src="<%= RELATIVE_PATH%>img/job/career_step_sp.jpg" alt="CAREER STEP"></div>
			</div>
		</div>
	</section>
	<section class="sec-career-story">
		<div class="inner">
			<h2 class="ttl-career-story">CAREER STORY</h2>
			<div class="list-career-story">
				<div class="item-career-story">
					<div class="img">
						<div class="pc"><img src="<%= RELATIVE_PATH%>img/job/img-02.jpg" alt="店長　嶋野加苗"></div>
						<div class="sp"><img src="<%= RELATIVE_PATH%>img/job/img-02-sp.jpg" alt="店長　嶋野加苗"></div>
					</div>
					<div class="box-info">
						<span class="case">CASE.01</span>
						<h3 class="ttl-item">店長　嶋野加苗</h3>
						<ul class="list-year">
							<li>
								<span>2011.07</span>
								<span>関西の店舗に入社</span>
							</li>
							<li>
								<span>2015.08</span>
								<span>東京の店舗に異動</span>
							</li>
							<li>
								<span>2017.04</span>
								<span>店長として活躍中</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="item-career-story">
					<div class="img">
						<div class="pc"><img src="<%= RELATIVE_PATH%>img/job/img-03.jpg" alt="販売部　課長　伊藤寧音　"></div>
						<div class="sp"><img src="<%= RELATIVE_PATH%>img/job/img-03-sp.jpg" alt="販売部　課長　伊藤寧音　"></div>
					</div>
					<div class="box-info">
						<span class="case">CASE.02</span>
						<h3 class="ttl-item">販売部　課長　伊藤寧音　</h3>
						<ul class="list-year">
							<li>
								<span>2013.02</span>
								<span>仙台の店舗に入社</span>
							</li>
							<li>
								<span>2015.10</span>
								<span>店長になる</span>
							</li>
							<li>
								<span>2016.11</span>
								<span>エリアマネージャーになる</span>
							</li>
							<li>
								<span>2018.10</span>
								<span>SVとして本社に異動</span>
							</li>
							<li>
								<span>2019.03</span>
								<span>課長として活躍中</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="item-career-story">
					<div class="img">
						<div class="pc"><img src="<%= RELATIVE_PATH%>img/job/img-04.jpg" alt="VMD　横山和希"></div>
						<div class="sp"><img src="<%= RELATIVE_PATH%>img/job/img-04-sp.jpg" alt="VMD　横山和希"></div>
					</div>
					<div class="box-info">
						<span class="case">CASE.03</span>
						<h3 class="ttl-item">VMD　横山和希</h3>
						<ul class="list-year">
							<li>
								<span>2014.09</span>
								<span>郡山の店舗に入社</span>
							</li>
							<li>
								<span>2015.01</span>
								<span>SVとして本社に異動</span>
							</li>
							<li>
								<span>2018.04</span>
								<span>課長になる</span>
							</li>
							<li>
								<span>2019.05</span>
								<span>VMDとして活躍中</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="item-career-story">
					<div class="img">
						<div class="pc"><img src="<%= RELATIVE_PATH%>img/job/img-05.jpg" alt="商品企画部（GiRLデザイナー） 石塚裕江"></div>
						<div class="sp"><img src="<%= RELATIVE_PATH%>img/job/img-05-sp.jpg" alt="商品企画部（GiRLデザイナー） 石塚裕江"></div>
					</div>
					<div class="box-info">
						<span class="case">CASE.04</span>
						<h3 class="ttl-item">商品企画部（GiRLデザイナー） 石塚裕江</h3>
						<ul class="list-year">
							<li>
								<span>2009.09</span>
								<span>都内店舗に入社</span>
							</li>
							<li>
								<span>2013.07</span>
								<span>店長になる</span>
							</li>
							<li>
								<span>2018.05</span>
								<span>GiRLデザイナーとして本社へ異動</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="item-career-story">
					<div class="img">
						<div class="pc"><img src="<%= RELATIVE_PATH%>img/job/img-06.jpg" alt="商品企画部（mimpiバイヤー） 土舘葵"></div>
						<div class="sp"><img src="<%= RELATIVE_PATH%>img/job/img-06-sp.jpg" alt="商品企画部（mimpiバイヤー） 土舘葵"></div>
					</div>
					<div class="box-info">
						<span class="case">CASE.05</span>
						<h3 class="ttl-item">商品企画部（mimpiバイヤー） 土舘葵</h3>
						<ul class="list-year">
							<li>
								<span>2010.10</span>
								<span>神奈川の店舗に入社</span>
							</li>
							<li>
								<span>2015.08</span>
								<span>店長になる</span>
							</li>
							<li>
								<span>2015.09</span>
								<span>結婚を機に退社</span>
							</li>
							<li>
								<span>2017.03</span>
								<span>都内店舗に再就職</span>
							</li>
							<li>
								<span>2017.10</span>
								<span>mimpiバイヤーとして本社へ異動</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="item-career-story">
					<div class="img">
						<div class="pc"><img src="<%= RELATIVE_PATH%>img/job/img-07.jpg" alt="自社NET運営　橋本栞里"></div>
						<div class="sp"><img src="<%= RELATIVE_PATH%>img/job/img-07-sp.jpg" alt="自社NET運営　橋本栞里"></div>
					</div>
					<div class="box-info">
						<span class="case">CASE.06</span>
						<h3 class="ttl-item">自社NET運営　橋本栞里</h3>
						<ul class="list-year">
							<li>
								<span>2019.01</span>
								<span>中途でオンラインショップの運営部に入社</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="item-career-story">
					<div class="img">
						<div class="pc"><img src="<%= RELATIVE_PATH%>img/job/img-08.jpg" alt="撮影加工課　スタイリスト　下鳥祐佳"></div>
						<div class="sp"><img src="<%= RELATIVE_PATH%>img/job/img-08-sp.jpg" alt="撮影加工課　スタイリスト　下鳥祐佳"></div>
					</div>
					<div class="box-info">
						<span class="case">CASE.07</span>
						<h3 class="ttl-item">撮影加工課　スタイリスト　下鳥祐佳</h3>
						<ul class="list-year">
							<li>
								<span>2018.11</span>
								<span>インターンシップでオンラインショップの<br>運営のアシスタントをする</span>
							</li>
							<li>
								<span>2019.04</span>
								<span>オンラインショップのスタイリストとして活躍中</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec-entry">
		<div class="inner">
			<div class="entry">
				<h2 class="ttl_type02">ENTRY</h2>
				<p class="txtBase">募集要項や選考フローなどはこちらから。皆様のご応募お待ちしております。</p>
				<div class="txt-center">
					<a href="#" class="btn_type03 style02">ENTRY</a>
				</div>
			</div>
		</div>
	</section>
</div>